.webContainer{
	padding: 48px 48px;
}

.mContainer{
	padding: 8px 48px;
}

mat-form-field{
	max-width: 500px;
	text-align: center;
}

mat-card{
	max-width: 250px;
	max-height: 500px;
	padding: 16px;
}

.card-img{
	object-fit: contain;
	width: 100%;
	height: auto;
}

.campaign-card .mat-card-header{
	display: block;
	font-size: 16px;
	font-weight: bold;
}

mat-card-content {
    overflow: hidden;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    p{
    	word-break: break-all;
    	white-space: normal;
    	text-align: left;
    }
}

.campaign-card{
	margin: 12px;
}

.description{
	overflow: hidden;
    width:inherit;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}