<div class="container" ngClass="webContainer" [ngClass.lt-sm]="{'webContainer': false, 'mContainer': true}" fxLayout="column" fxLayoutAlign="center start">
	<mat-form-field appearance="outline" fxFlexAlign="center">
		<mat-label>---SELECT A CATEGORY---</mat-label>
	    <mat-select [formControl]="catFormCntl" [(ngModel)]="selectedCategory" (selectionChange)="getCampaigns()">
		    <mat-option *ngFor="let cat of categories" [value]="cat.key">{{cat.value}}</mat-option>
	  	</mat-select>
    </mat-form-field>
	
	<div class="card-container full-width" fxLayout="column" fxLayoutAlign="center center">
		<div *ngIf="campaigns.length < 1" fxLayout="column" fxLayoutAlign="center center">
			<h3>No campaigns founds in this category.</h3>
			<button mat-raised-button color="primary" (click)="navigateToCreateCampaign()">Create New Campaign</button>
		</div>
		<div *ngIf="campaigns.length > 0" fxLayout="row wrap">
			<mat-card class="campaign-card" *ngFor="let campaign of campaigns" fxLayout="column" fxLayoutAlign="space-between center">
				<img class="card-img" mat-card-image *ngIf="!campaign?.assets?.length>0 || !campaign?.assets[0]?.downloadUrl" src="/assets/images/campaigns/generic.png"/>

				<img class="card-img" mat-card-image *ngIf="campaign?.assets?.length>0 && campaign?.assets[0]?.downloadUrl" [src]="campaign?.assets[0]?.downloadUrl"/>
				<mat-card-content fxFlexAlign="start">
					<mat-card-header>{{campaign.title}}</mat-card-header>
					<p class="description">
						{{campaign.desc}}
					</p>
				</mat-card-content>
				<mat-card-actions fxLayout fxLayoutAlign="space-between center" fxFlexAlign="end">
					<button mat-raised-button color="primary" fxFlexAlign="start" *ngIf="campaign.owner===userId" (click)="navigateToCreateCampaign(campaign.id, 'edit')">Edit <mat-icon>edit</mat-icon></button>
					<button mat-raised-button color="accent" fxFlexAlign="start" (click)="navigateToCreateCampaign(campaign.id)">View <mat-icon>visibility</mat-icon></button>
					<!-- <button mat-icon-button color="warn" fxFlexAlign="end"><mat-icon>payments</mat-icon></button> -->
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>