<div class="bContainer" fxLayout="row" fxLayout.lt-md="column">
	<div>
		<table *ngIf="categories.length>0" class="full-width" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" multiTemplateDataRows >
			<ng-container matColumnDef="pic">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
			<td mat-cell *matCellDef="let element;"> 
				<img *ngIf="element.img" [src]="element.img['downloadUrl']" height="50" width="50" />
			</td>
			</ng-container>
			<ng-container matColumnDef="n">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
				<td mat-cell *matCellDef="let element"> {{element.n}} </td>
			</ng-container>

			<ng-container matColumnDef="b">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Category</th>
			<td mat-cell *matCellDef="let element"> {{element.b}} </td>
			</ng-container>

			<ng-container matColumnDef="com">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Commission</th>
			<td mat-cell *matCellDef="let element"> <span *ngIf="element.c">{{element.c}}% </span><span *ngIf="element.exp">| {{element.exp}}%</span> </td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef> Actions </th>
				<td mat-cell *matCellDef="let element;  let i = dataIndex;">
					<div fxLayout>
						<button mat-icon-button color="primary" (click)="edit(element, i)"><mat-icon>edit</mat-icon></button>
						<!-- <button mat-icon-button color="warn" (click)="delete(element,i)"><mat-icon>delete</mat-icon></button> -->
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<!-- <tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index;"></tr> -->

		    <tr mat-row *matRowDef="let element; columns: displayedColumns;" ></tr>
		</table>
		<div class="floating-action-button" fxFlexAlign="end" (click)="edit({'tr':{'hi': {}}}, -1)">
			<button mat-fab color="warn"><mat-icon>add</mat-icon></button>
		</div>
	</div>
	<div fxLayout="column" class="bContainer">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput placeholder="Name" [(ngModel)]="sc.n" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Group</mat-label>
			<input matInput placeholder="Group" [(ngModel)]="sc.b" />
		</mat-form-field>		
		<mat-select class="big-navbar-select" [(value)]="selectedLang" (selectionChange)="updateLanguage($event)">
			<mat-option *ngFor="let lang of langs" [value]="lang.mValue">{{lang.displayName}}</mat-option>
		</mat-select>
		<mat-form-field>
			<mat-label>Name in {{selectedLang}}</mat-label>
			<input matInput placeholder="Name in {{selectedLang}}" [(ngModel)]="sc['tr'][selectedLang]['n']" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Group in {{selectedLang}}</mat-label>
			<input matInput placeholder="Group in {{selectedLang}}" [(ngModel)]="sc['tr'][selectedLang]['b']" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Commission(%)</mat-label>
			<input matInput placeholder="Commission(%)" [(ngModel)]="sc.c" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Expense(%)</mat-label>
			<input matInput placeholder="Expense(%)" [(ngModel)]="sc.exp" />
		</mat-form-field>
		<app-uploader *ngIf="sc.id" [maxAllowedFileSize]="50" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="imageUploaded($event)" [newFilename]="sc.id" [header]="'Category Image'"></app-uploader>
		<button mat-raised-button (click)="save()" color="primary">Save</button>
	</div>
</div>