<div class="deep-padding">
  <div fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="32px"
       fxLayoutAlign="flex-center">
    <ng-container *ngFor="let prod of products">
      <app-prod-card [product]="prod"
                     fxFlex="0 1 calc(25% - 32px)"
                     fxFlex.lt-lg="0 1 calc(33.3% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 32px)"
                     fxFlex.lt-sm="100%"></app-prod-card>
    </ng-container>
  </div>
  <app-cart-floating-button></app-cart-floating-button>
</div>
<app-cart-floating-button [isAbsolute]=true></app-cart-floating-button>
