<div class="card-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="auto">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Mobile(10 digit) or Email</mat-label>
      <input matInput placeholder="Mobile(10 Digit) or Email ID" [(ngModel)]="useremail" type="text" id="inputUsername" name="inputUsername" class="form-control">
      <span matSuffix>
        <mat-icon>mail</mat-icon>
      </span>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit()">Request password code</button>
  </form>
  <form *ngIf="isMailRecieved">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput type="password" placeholder="New Password" [(ngModel)]="newPassword" id="inputNewPassword" name="inputNewPassword" class="form-control">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" id="inputConfirmPassword" name="inputConfirmPassword" class="form-control">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>OTP</mat-label>
      <input matInput type="text" placeholder="OTP" [(ngModel)]="otp" id="inputOTP" name="inputOTP" class="form-control">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onResetPasswordClick()">Reset Password</button>
  </form>
</div>
