<div class="container">
  <div fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="32px"
       fxLayoutAlign="flex-start">
    <ng-container *ngFor="let prod of products">
      <app-prod-card [product]="prod"
                     fxFlex="0 1 calc(15% - 32px)"
                     fxFlex.lt-lg="0 1 calc(33.3% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 32px)"></app-prod-card>
    </ng-container>
  </div>
  <app-cart-floating-button></app-cart-floating-button>
</div>
<div class="container no-product" *ngIf="products.length===0">
  <h3>No products found</h3>
</div>
<!-- <app-cart-floating-button [isAbsolute]=true></app-cart-floating-button> -->
