<div class="container">
  <mat-card>
    <mat-card-content fxLayout="column">
      <div fxLayout fxLayout.lt-md="column" fxLayoutGap="16px">
        <mat-form-field>
          <input type="text" placeholder="Type customer name, mobile or email" matInput [formControl]="cntl" [matAutocomplete]="auto">
        </mat-form-field>      
        <mat-autocomplete #auto="matAutocomplete" 
          [displayWith]="displayFn" (optionSelected)="selected($event)">
          <mat-option *ngFor="let item of filteredItems" [value]="item">	
            <div fxLayout fxLayoutAlign="space-between start">
              {{item.name}} | {{item.mobile}} | {{item.email}}
            </div>
          </mat-option>
        </mat-autocomplete>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput [formControl]="customerNameCntl" [(ngModel)]="customer.name"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input type="text" matInput [formControl]="customerMobileCntl" [(ngModel)]="customer.mobile"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput [formControl]="customerEmailCntl" [(ngModel)]="customer.email"/>
        </mat-form-field>
        <div><button *ngIf="!customer.id" mat-raised-button color="primary" (click)="createCustomer()">Save</button></div>
        <div><button mat-raised-button *ngIf="customer.id!=undefined" color="primary" (click)="reset()">Reset</button></div>
      </div>
      <app-address  *ngIf="customer.id" [selectedAddress]="selectedAddress" [displayAddButton]="true" [fulfillmentType]="fulfillmentType" [forId]="customer.id" (addressSelected)="addressSelected($event)"></app-address>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <app-store-selector (storeSelected)="storeSelected($event)"></app-store-selector>
      <div fxLayout fxLayoutGap="16px" fxLayout.lt-md="column">
        <!-- <app-search-product fxFlex [isInventoryEditable]="false" [isProductEditable]="false" (itemSelected)="itemSelected($event)"></app-search-product> -->
        <app-store-product-selector fxFlex (itemSelected)="itemSelected($event)" [store]="selectedStore"></app-store-product-selector>
        <!-- <mat-form-field appearance="outline" class="small">
          <mat-label>Unit Price</mat-label>
          <input type="text" matInput [formControl]="cntlUnitPrice" [(ngModel)]="unitPrice" readonly disabled/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="small">
          <mat-label>Qty</mat-label>
          <input type="number" matInput [formControl]="cntlQty" [(ngModel)]="qty" min="1" > 
        </mat-form-field>
        <mat-form-field appearance="outline" class="small">
          <mat-label>Actual Price</mat-label>
          <input type="text" matInput [formControl]="cntlActualPrice" [(ngModel)]="actualPrice"/>
        </mat-form-field> -->
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <tr>
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let element">
              <div>
                <span class="name">{{element.name}}</span><br /><span class="brand">{{element.product?.brand?.sname}}</span>
              </div>
              <div class="attributes">{{getAttributeString(element.attrs)}}</div>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <!--Total Savings:<br>-->
              <span *ngIf="getTotalCost()<minOrderFreeDelivery">Delivery Charges</span>
              <span *ngIf="getTotalCost()>=minOrderFreeDelivery">Free Delivery</span>
            </td>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef> Unit Price </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.prices[0]?.discounts==null || element.prices[0]?.discounts?.length==0">{{element.prices[0]?.unitPrice}}</div>
              <div *ngIf="element.prices[0]?.discounts?.length>0">
                <div class="original-price">{{element.prices[0]?.unitPrice}}</div>
                <div>{{getDiscountedPrice(element)['salePrice']}}</div>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <!--{{getTotalSavings() | currency:'INR':'symbol-narrow' : '1.0-0'}}<br>-->
              <span [hidden]="getTotalCost()>=minOrderFreeDelivery">{{deliveryCharges}}</span>
            </td>
          </ng-container>
    
          <!-- Symbol Column -->
          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef> Qty </th>
            <td class="display-revert" mat-cell *matCellDef="let element; let i=index" fxLayout fxLayoutAlign="center center">
              <div fxLayout>
                <!-- <button color="primary" mat-icon-button (click)="updateQuantity(i, element.qty-1)"><mat-icon>remove_circle_outline</mat-icon></button> -->
                <mat-form-field appearance="outline" class="input-xs">
                  <input type="number" matInput [(ngModel)]="element.qty"  (change)="updateQuantity(i, element.qty)"/>
                </mat-form-field>
                <!-- <button color="primary" mat-icon-button (click)="updateQuantity(i, element.qty+1)"><mat-icon>control_point</mat-icon></button> -->
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
          </ng-container>

          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef> Discount </th>
            <td class="display-revert" mat-cell *matCellDef="let element" fxLayout fxLayoutAlign="center center">
              <div>
                {{getDiscountedPrice(element)['discount']}}
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              Total Savings: {{getTotalSavings()}}
            </td>
          </ng-container>
    
          <ng-container matColumnDef="subTotal">
            <th mat-header-cell *matHeaderCellDef> Sub-Total </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.prices[0]?.discounts==null || element.prices[0]?.discounts?.length===0">{{element.qty*element.prices[0]?.unitPrice}}</div>
              <div *ngIf="element.prices[0]?.discounts?.length>0">
                {{getDiscountedPrice(element)['salePrice'] * element.qty | number:'1.0-2'}}
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              Total <span [fxShow.xs]="true">:</span>
              <span *ngIf="displayTotalWithDelivery && false">{{getTotalCost()>=minOrderFreeDelivery?getTotalCost():getTotalCost()+deliveryCharges  | number:'1.0-2' | currency:'INR':'symbol-narrow' : '1.0-0'}}</span>
              <span *ngIf="!displayTotalWithDelivery || true">{{getTotalCost()}}</span>
              <!-- <a *ngIf="displayActionButton" mat-raised-button [routerLink]="buttonRoute" color="accent">{{buttonText}}<mat-icon>{{buttonIcon}}</mat-icon></a> -->
            </td>
          </ng-container>
    
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="updateQuantity(element, 0)" color="warn" *ngIf="isEditable">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
          </ng-container>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      <mat-card>
        <div fxLayout="column">
          <div fxLayout>
            <mat-form-field class="small" appearance="outline">
              <input 
                class="bold-highlighted"
                type="type"
                readonly 
                matInput 
                value="Digital" />
            </mat-form-field>
            <mat-form-field class="small" appearance="outline">
              <mat-icon matPrefix><i class="fas fa-rupee-sign"></i></mat-icon>
              <input 
                class="bold-highlighted"
                type="number" 
                matInput 
                (keyup)="amountPaidUpdated()"
                [(ngModel)]="upiAmount" />
            </mat-form-field>
            <mat-form-field class="small" appearance="outline">
              <mat-select [(ngModel)]="upiPaymentType">
                <mat-option value="Paytm">Paytm</mat-option>
                <mat-option value="PhonePe">PhonePe</mat-option>
                <mat-option value="GooglePay">Google Pay</mat-option>
                <mat-option value="GooglePay">Credit Card</mat-option>
                <mat-option value="GooglePay">Debit Card</mat-option>
                <mat-option value="GooglePay">Netbanking</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout>
            <mat-form-field class="small" appearance="outline">
              <input 
                class="bold-highlighted"
                type="type"
                readonly 
                matInput 
                value="Cash" />
            </mat-form-field>
            <mat-form-field class="small" appearance="outline">
              <mat-icon matPrefix><i class="fas fa-rupee-sign"></i></mat-icon>
              <input 
                class="bold-highlighted"
                type="number" 
                matInput 
                (keyup)="amountPaidUpdated()"
                [(ngModel)]="cashAmount" />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
          <mat-checkbox 
            [checked]="isDeliveryNeeded" 
            [(ngModel)]="isDeliveryNeeded">Is Delivery Needed</mat-checkbox>
          <mat-form-field appearance="outline" class="small" *ngIf="isDeliveryNeeded">
            <mat-label>Delivery Charge</mat-label>
            <input autocomplete="off" type="number" matInput [(ngModel)]="deliveryCharge" placeholder="Delivery Charge"/>
          </mat-form-field>
          <div>Grand Total: <span>{{getTotalCost()+deliveryCharge | number:'1.0-2'}}</span></div> 
          <mat-checkbox 
            (change)="toggleIsPartialPayment($event)" 
            [checked]="isPartialPayment" 
            [(ngModel)]="isPartialPayment" 
            *ngIf="customer.id">Is partial payment</mat-checkbox>
          <mat-form-field class="small" appearance="outline">
            <mat-label>Amount Paid</mat-label>
            <mat-icon matPrefix><i class="fas fa-rupee-sign"></i></mat-icon>
            <input 
              class="bold-highlighted"
              type="number" 
              matInput 
              min="0"
              readonly 
              disabled 
              autocomplete="off"
              [formControl]="cntlAmountPaid" 
              [(ngModel)]="amntPaid" />
          </mat-form-field>
          <button mat-raised-button (click)="save()">Save</button>  
        </div>
        <div fxLayout>
          Amount Paid: <mat-icon><i class="fas fa-rupee-sign"></i></mat-icon> <span class="bold-highlighted">{{getPriceInWords(amntPaid)}}</span>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>