<mat-drawer-container class="example-container" hasBackdrop="false" autosize>
	<mat-drawer #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="isOpen" [position]="mobileQuery.matches ? 'end': 'start'">
		<mat-list>
			<mat-list-item *ngFor="let route of filteredRouteList; let i=index;">
				<div fxLayout fxLayoutAlign="space-between center">
					<button mat-button (click)="navigate(route.path)">{{route.title}}</button>
					<button mat-icon-button (click)="drawer.close()" *ngIf="i===0 && mobileQuery.matches"><mat-icon>close</mat-icon></button>
				</div>
			</mat-list-item>
		</mat-list>
	</mat-drawer>
	<mat-drawer-content [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
		<div class="container" fxLayout="column">
			<button mat-mini-fab (click)="isOpen=!isOpen" fxFlexAlign="end">
				<span class="material-symbols-outlined" *ngIf="isOpen">
					arrow_forward_ios
				</span>
				<span class="material-symbols-outlined" *ngIf="!isOpen">
					arrow_back_ios
				</span>
			</button>
			<router-outlet sidebar-content="outlet" #o></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>