.category-item{
    border: 2px solid #f93a04;
    color: #f93a04;
    border-radius: 15px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    align-items: center;
}

.sub-cat-container{
  height: 200px;
  width: 100%;
}

.selected-category{
    border: 2px dotted #296003;
    color: #296003;
    border-radius: 15px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    align-items: center;
}

.example-viewport{
    overflow-x: hidden;
}

.item-container{
    overflow-x: auto;
}

.megha-menu{
  background-color:#FFFFFF;
}

.menu-main{
    margin: 0;
    padding: 0;
    list-style: none;
    position:relative;
}
.menu-main li{
    display: inline-block;
    margin-right: 10px;
    
}
.menu-main li a{
    color: #731539 !important;
    font-size: 15px;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-main li:hover{    
    cursor: pointer;
}

.menu-main li:hover a{
 color: #000;
 font-weight: bold;
}
.menu-sub{
    position: absolute;
    padding: 0px 25px !important;
    left: 0;
    background: #FFF;
    border: 1px solid #CCC;
    width: 100%;
    padding: 2em;
    visibility: hidden;
    z-index: 99;
    border-radius: 5px;    
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}
.menu-main li:hover .menu-sub{
  visibility: visible;  
  opacity: 1;   
}

.menu-sub ul{
  padding: 0;
}
.menu-sub li{
  display:block;
  margin-right: 0px;  
}

.menu-main li:hover .menu-sub li a{ 
  font-weight: normal;
}

.menu-main li:hover .menu-sub li:hover a{  
  font-weight: bold;
}

.menu-sub li a:hover{ 
  font-weight: bold;
}

.menu-col-1{
  float: left;
  margin-right: 3em;
  min-height: 262px;
}

.menu-col-1:last-of-type{
  margin-right: 0;
}

.mob-menu .mat-button{
    color:white;
}

.menu-icon{
  display: flex !important;
  align-items: center;
  align-content: center;
  position: relative;
  margin-left: 15px;
  font-size: 16px;

  img{
    margin-right: 3px;
    position: absolute;
    left: -18px;
  }

  .fa-angle-down {
    margin-left: 3px;
  }

}

.no-img {
  margin: 0;
  padding-left: 0 !important;
}
