table {
    width: 100%;
}

.mat-header-cell, .mat-cell, .mat-footer-cell {
  text-align: center;
  font-weight: bold;
}

button{
  color: white;
}

.brand{
  color: #777777;
  font-weight: normal;
  font-size: 12px;
}

.name{
  line-height: 10px;
}

.display-revert{
  display: revert !important;
}

.attributes{
  font-size: small;
  font-weight: normal;
}

.partial-text{
  color: lightgray;
  text-decoration: line-through;
}