.rating-star{
    background-color: green;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 16px;
}

.icon {
    font-size: 12px;
}

mat-icon{
    padding-top: 3px;
}

.title{
    color: #888888;
}