<div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="center center">
	<!-- <button mat-icon-button (click)="shareOnWhatsApp()"><mat-icon>whatsapp</mat-icon></button> -->
	<a mat-icon-button [href]="whatsAppUrl | safe"><mat-icon><i class="fa fa-whatsapp prefix grey-text" style="font-size:24px;color:green"></i></mat-icon></a>
	<a mat-icon-button [href]="smsUrl"><mat-icon style="color:blue">sms</mat-icon></a>
	<a mat-icon-button [href]="emailUrl"><mat-icon><i class="fa fa-envelope-o prefix grey-text" style="font-size:24px;color:orange"></i></mat-icon></a>
</div>