<div class="container">
	<div class="first-container" fxLayout.gt-sm="row" fxLayout.lt-md="column">
		<div class="carousel-container" fxFlex.gt-sm=45>
			<app-carousel [slides]="slides" [animationType]="'fade'"></app-carousel>	
		</div>
		<div fxFlex.gt-sm="55">
			<div class="title">{{campaign?.title}}</div>
			<div class="summary">Campaign created at: <span>{{campaign?.createdAt | date: 'dd/MM/yyyy'}}</span></div>
			<div class="summary" *ngIf="campaign?.expiryDate && campaign?.expiryDate>0">End Date: <span>{{campaign?.expiryDate | date: 'dd/MM/yyyy'}}</span></div>
			<div class="summary">Amount required: <span>{{campaign?.areqd | currency:'INR':'symbol-narrow' : '1.0-0'}}</span></div>
			<div class="summary">Collection till date: <span>{{campaign?.cltd | currency:'INR':'symbol-narrow' : '1.0-0'}}</span></div>
			<div class="summary">
				Requirement is  
				<span *ngIf="campaign?.reqf==='O'"> once in a lifetime</span>
				<span *ngIf="campaign?.reqf==='W'"> weekly</span>
				<span *ngIf="campaign?.reqf==='M'"> monthly</span>
				<span *ngIf="campaign?.reqf==='Y'"> yearly</span>
			</div>
			<div class="summary" *ngIf="campaign && campaign.b && campaign.b.length>0">
				{{"TOTAL_BENEFICIARIES" | translate}}: <span>{{campaign.b.length}}</span>
			</div>
			<div class="summary">Category:<span> {{campaign?.cat | titlecase}}</span></div>
			<div class="summary">Created By: <span>{{campaign?.owner?.name}}</span></div>
			<div class="summary">Status: <span>{{campaign?.s}}</span></div>
			<div fxLayout fxLayoutGap="16px" fxLayout.lt-md="column">
				<button class="full-width" mat-raised-button color="primary" (click)="collectFromOthers()" *ngIf="canCollectDonation">Collect donation from others</button>
				<button class="full-width" mat-raised-button color="error" (click)="donateFromBank()">Donate from Bank Account</button>
				<!-- <button class="full-width" mat-raised-button color="accent" (click)="donateFromGoodAct()">Donate From Good Act</button> -->
				<button class="full-width" mat-raised-button color="warn" (click)="subscribeCampaign()">Subscribe</button>
			</div>
		</div>
	</div>
	<div>
		<p class="desc">{{campaign?.desc}}</p>
	</div>
    
    <mat-expansion-panel *ngIf="campaign.b && campaign.b.length>0">
		<mat-expansion-panel-header>
			Total Beneficiaries - {{campaign.b.length}}
		</mat-expansion-panel-header>
		<app-beneficiary [enableEdit]="false" [campaignId]="campaign.id" [bids]="campaign.b"></app-beneficiary>
	</mat-expansion-panel>
</div>