.container{
	padding: 24px;
	margin-bottom: 16px; 
}

.first-container {
  height:auto;
  width: 100%;
  max-height: 600px;
}

.summary{
  font-size: 1.1em;
  margin: 5px;

  span{
    font-weight: bold;
  }
}

.title{
  font-weight: bold;
  font-size: 1.3em;
  color: #007e76;
}