<div class="container" fxLayout="column">
	<mat-form-field>
	    <mat-label>Category</mat-label>
	    <mat-select [(ngModel)]="selectedCategory" (selectionChange)="selectedCategoryUpdated($event)">
	        <mat-option *ngFor="let cat of cats" [value]="cat">{{cat.n}}</mat-option>
	    </mat-select>
	</mat-form-field>
	<app-person-exact-match (personSelected)="buyerSelected($event)" [type]="'generic'" #buyerSearchBox></app-person-exact-match>
	<mat-form-field>
		<mat-label>Sale Amount</mat-label>
		<input matInput placeholder="Sale Amount" type="number" [(ngModel)]="amt" />
	</mat-form-field>
	<div fxLayout fxLayoutGap="8px">
		<mat-form-field *ngIf="isAuthorized('OVERRIDE_COMMISSION')">
			<mat-label>Comission Percent</mat-label>
			<input matInput placeholder="Commission" type="number" [(ngModel)]="com" />
			<span matSuffix *ngIf="!isAuthorized('OVERRIDE_COMMISSION')">Loyalty points - {{com}}% | </span>
			<span matSuffix>{{com*amt/100 | currency:'INR':'symbol-narrow':'1.2-2'}}</span>
		</mat-form-field>
	</div>
	<div *ngIf="isAuthorized('ADD_EXPENSE')">
		<mat-form-field>
			<mat-label>Expense</mat-label>
			<input matInput placeholder="Expenses" type="number" [(ngModel)]="exp" />
			<span matSuffix>{{exp*amt/100 | currency:'INR':'symbol-narrow':'1.2-2'}}</span>
		</mat-form-field>
	</div>
	<div *ngIf="isAuthorized('OVERRIDE_COMMISSION')">
		<mat-form-field>
			<mat-label>Distribution</mat-label>
			<input matInput placeholder="Distribution(%age)" type="number" readonly [ngModel]="com-exp" />
			<span matSuffix>{{(com-exp)*amt/100 | currency:'INR':'symbol-narrow':'1.2-2'}}</span>
		</mat-form-field>
		
	</div>
	<button mat-raised-button (click)="save()" color="primary">Save</button>
</div>