.mcontainer{
	padding: 16px;
}

div.button, .button-selected{
	text-align: center;
	padding: 4px 8px;
	border: 1px solid;
	border-radius: 15px;
	border-color: #20bf55;
	margin: 0px 0px;
	cursor: pointer;
}

.button-selected{
	background: #2217c5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2217c5, #0eeba4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2217c5, #0eeba4);
	color: white;
}