 .buy-container{
 	padding: 6px 12px;
 	background: green;
 	color: white;
 	height: 180px;
 }

  .sell-container{
 	padding: 6px 12px;
 	background: red;
 	color: white;
 	height: 180px;
 }

 .market-depth-table{
 	border: none;
 	width: 100%;
 }

 tr td{
	text-align: center;
}