<div class="container full-width" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around center" [formGroup]="resetForm">
	<mat-form-field class="password" appearance="outline">
        <input [type]="hide?'password':'text'" id="materialFormCardOldPasswordEx" formControlName="materialFormCardOldPasswordEx" class="form-control" matInput placeholder="Old Password" />
        <span matPrefix>
        	<i class="fa fa-lock prefix grey-text"></i>&nbsp;&nbsp;
        </span>
        <mat-icon class="mouse-hand" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="password" appearance="outline">
        <input [type]="hide?'password':'text'" id="materialFormCardNewPasswordEx" formControlName="materialFormCardNewPasswordEx" class="form-control" matInput placeholder="New Password" />
        <span matPrefix>
        	<i class="fa fa-lock prefix grey-text"></i>&nbsp;&nbsp;
        </span>
        <mat-icon class="mouse-hand" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="password" appearance="outline">
        <input [type]="hide?'password':'text'" id="materialFormCardConfirmPass" formControlName="materialFormCardConfirmPass" class="form-control" matInput placeholder="Confirm Password" (keyup.enter)="submit()" />
        <span matPrefix>
        	<i class="fa fa-lock prefix grey-text"></i>&nbsp;&nbsp;
        </span>
        <mat-icon class="mouse-hand" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submit()">Save</button>
</div>