<div class="store-container">
	<app-store-selector [tabIndex]="-1" *ngIf="false" [store]="store" (storeSelected)="storeSelected($event)"></app-store-selector>
	<div class="container" *ngIf="true">
		<div fxLayout fxLayoutGap="32px">
			<div>
				<app-store-selector [tabIndex]="-1" (storeSelected)="storeSelectionModified($event)"></app-store-selector>
			</div>
			<div *ngIf="priceType==='VRT' && !isViewMode">
				<mat-checkbox [(ngModel)]="isPriceSame" (change)="isPriceSameUpdated($event.checked)">Is price same as original product</mat-checkbox>
			</div>
		</div>
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
			<mat-form-field class="small" *ngIf="false">
				<input matInput type="number" [(ngModel)]="costPrice" placeholder="Cost price per unit">
			</mat-form-field>
			<mat-form-field class="small">
				<input matInput type="number" [(ngModel)]="sellPrice"  min="0.01" (input)="unitPriceUpdated($event.target.value)" placeholder="Selling price per unit" [disabled]="isPriceSame || isViewMode">
			</mat-form-field>
			<mat-form-field class="small">
				<input matInput type="number" [(ngModel)]="inStockQty" min="0" placeholder="In Stock Quantity">
			</mat-form-field>
			<mat-form-field class="medium">
				<input matInput type="number" [(ngModel)]="maxAlwdQty" min="0" placeholder="Max Allowed Qty for purchase">
			</mat-form-field>
			<mat-form-field class="medium">
				<input matInput type="text" [(ngModel)]="sku" placeholder="Sku Id">
			</mat-form-field>
		</div>
		<div class="store-container">
			<h3>Discount Details</h3>
			<div fxLayout="row" *ngIf="!isViewMode && !isPriceSame">
				<mat-form-field class="small">
					<input matInput type="number" [(ngModel)]="saleDetail.salePrice" placeholder="Sale Price" (input)="salePriceCalculator($event.target.value, 'SALE_PRICE')">
				</mat-form-field>
				<mat-form-field class="small">
					<input matInput type="number" [(ngModel)]="saleDetail.discount" placeholder="Discount" (input)="salePriceCalculator($event.target.value, 'DISCOUNT')">
				</mat-form-field>
				<mat-form-field class="small">
					<input matInput type="number" [(ngModel)]="saleDetail.discountPercentage" placeholder="Discount Percentage" (input)="salePriceCalculator($event.target.value, 'DISCOUNT_PERCENT')">
				</mat-form-field>
				<mat-form-field class="small">
					<input matInput type="number" [(ngModel)]="saleDetail.minQty" placeholder="Min Quantity" (input)="salePriceCalculator($event.target.value, 'QUANTITY')" min="1">
				</mat-form-field>
				<button mat-icon-button (click)="acceptSaleDetailChanges()" color="primary"><mat-icon>check_circle_outline</mat-icon></button>
				<button mat-icon-button (click)="resetSaleDetail()" color="error"><mat-icon>restart_alt</mat-icon></button>
			</div>
			<table class="full-width" mat-table [dataSource]="dataSource">
				<ng-container matColumnDef="mrp">
				  <th mat-header-cell *matHeaderCellDef> M.R.P. </th>
				  <td mat-cell *matCellDef="let element"> {{sellPrice}} </td>
				</ng-container>

				<ng-container matColumnDef="salePrice">
				  <th mat-header-cell *matHeaderCellDef> Sale Price </th>
				  <td mat-cell *matCellDef="let element"> {{element.salePrice}} </td>
				</ng-container>
	  
				<ng-container matColumnDef="discount">
				  <th mat-header-cell *matHeaderCellDef> Discount </th>
				  <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
				</ng-container>
	  
				<ng-container matColumnDef="discountPercent">
				  <th mat-header-cell *matHeaderCellDef> Discount %age </th>
				  <td mat-cell *matCellDef="let element"> {{element.discountPercentage}} </td>
				</ng-container>
	  
				<ng-container matColumnDef="minQty">
				  <th mat-header-cell *matHeaderCellDef> Min Quantity </th>
				  <td mat-cell *matCellDef="let element"> {{element.minQty}} </td>
				</ng-container>
	  
				<ng-container matColumnDef="status">
				  <th mat-header-cell *matHeaderCellDef> Status </th>
				  <td mat-cell *matCellDef="let element; let i = index">
					<mat-checkbox *ngIf="!isPriceSame && !isViewMode" (click)="$event.stopPropagation()"
									(change)="saleDetailSelectionToggle($event, element, index)"
									[checked]="element.status">
					</mat-checkbox>
					<h5  *ngIf="isPriceSame || isViewMode">{{element.status?"Active": "Inactive"}}</h5>
				  </td>
				</ng-container>
				<ng-container matColumnDef="actions">
				  <th mat-header-cell *matHeaderCellDef> Actions </th>
				  <td mat-cell *matCellDef="let element; let i=index">
					  <div fxLayout *ngIf="!isViewMode && !isPriceSame">
						<button mat-icon-button (click)="editSaleDetail(element, i)" color="error"><mat-icon>edit</mat-icon></button>
						  <button mat-icon-button (click)="deleteSaleDetail(element, i)" color="error"><mat-icon>delete</mat-icon></button>
					  </div>
				  </td>
				</ng-container>
	  
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index;"></tr>
			</table>
		</div>
		<div *ngIf="!isViewMode"><button mat-raised-button color="primary" (click)="save()">Save</button></div>
	</div>
</div>
