.dropzone { 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
	min-width: 80vw;
	font-weight: 200;
	height: 300px;
	border: 2px dashed #f16624;
	border-radius: 5px;
	background: white;
	margin: 10px 0;
  
	&.hovering {
		border: 2px solid #f16624;
		color: #dadada !important;
	}
  
	.file-label {
		font-size: 1.2em;
	}
  }
  
  progress::-webkit-progress-value {
	transition: width 0.1s ease;
  }

/* .my-drop-zone { 
	background-color: #f5f5f5;
	border: dotted 3px lightgray; 
	align-items: center;
	padding-left: 25%;
	display: flex;
	min-height: 75px;
}
.nv-file-over { border: dotted 3px red; }

.example-button-row button{
  margin-right: 8px;
}

.progress-queue{
	padding: 10px;
} */