.webContainer{
	padding: 48px 48px;
}

.mContainer{
	padding: 8px 48px;
	padding-bottom: 32px;
}

@media screen and (max-width: 480px) {
  ::ng-deep .mat-select-value{    
    color: black;  
  }
}