<div class="container" ngClass="webContainer" [ngClass.lt-sm]="{'webContainer': false, 'mContainer': true}" fxLayout="column" fxLayoutGap="8px">
	<div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="space-between center">
		<mat-form-field appearance="outline" class="full-width">
	      <input matInput placeholder="Title" type="text" id="inputTitle" class="form-control" [(ngModel)]="campaign.title" [readonly]="!enableEditMode">
	      <span matPrefix>
	      </span>
	    </mat-form-field>

	    <mat-form-field appearance="outline">
	      <input matInput placeholder="Amount Required" type="number" id="inputAmtReqd" class="form-control" [(ngModel)]="campaign.areqd" [readonly]="!enableEditMode">
	    </mat-form-field>

	    <mat-form-field appearance="outline" fxFlexAlign="center">
			<mat-label>---SELECT A CATEGORY---</mat-label>
		    <mat-select [formControl]="catFormCntl" [(ngModel)]="campaign.cat" [disabled]="!enableEditMode">
			    <mat-option *ngFor="let cat of categories" [value]="cat.key">{{cat.value}}</mat-option>
		  	</mat-select>
	    </mat-form-field>

	    <mat-form-field appearance="outline" fxFlexAlign="center">
			<mat-label>---Requirement Frequency---</mat-label>
		    <mat-select [(ngModel)]="campaign.reqf" [disabled]="!enableEditMode">
		    	<mat-option value="O">ONE TIME</mat-option>
			    <mat-option value="W">WEEKLY</mat-option>
			    <mat-option value="M">MONTHLY</mat-option>
			    <mat-option value="Y">YEARLY</mat-option>
		  	</mat-select>
	    </mat-form-field>

	    <mat-form-field appearance="outline">
	      <mat-select [(ngModel)]="campaign.s" [disabled]="!enableEditMode">
	      	<mat-option value="Draft">Draft</mat-option>
	      	<mat-option value="Active">Active</mat-option>
	      	<mat-option value="Paused">Paused</mat-option>
	      	<mat-option value="Suspended">Suspended</mat-option>
	      	<mat-option value="Blacklisted">Blacklisted</mat-option>
	      </mat-select>
	    </mat-form-field>

	    <mat-form-field>
	      <mat-label>Choose expiry date</mat-label>
		  <input matInput [matDatepicker]="expiryPicker" [formControl]="expiryDateCntl" (dateInput)="expiryDateSelected($event)" [readonly]="!enableEditMode">
		  <mat-hint>MM/DD/YYYY</mat-hint>
		  <mat-datepicker-toggle matSuffix [for]="expiryPicker"></mat-datepicker-toggle>
		  <mat-datepicker #expiryPicker></mat-datepicker>
	    </mat-form-field>
	</div>
	<div class="full-width">
		<mat-form-field class="full-width" appearance="outline">
		    <mat-label>Description</mat-label>
		    <textarea name="message" #message="ngModel" matInput placeholder="Ex. Detailed description of the campaign" maxlength="1000" [(ngModel)]="campaign.desc" [readonly]="!enableEditMode">{{campaign.desc}}</textarea>
		</mat-form-field>
	</div>
	<div fxLayout="column" *ngIf="campaign.id">
		<app-uploader [maxAllowedFileSize]="1024" [uploadPath]="uploadPath" [isMultiple]="true" (imageUploaded)="uploadCompleted($event)" [header]="'Campaign Images'"></app-uploader>
		<div fxLayout>
			<div *ngFor="let image of campaign.assets">
				<img [src]="image['downloadUrl']" width="150px" height="auto" />
			</div>
		</div>
	</div>
	<div fxLayout fxLayout.lt-md="column" fxLayoutGap="12px">
		<button fxFlexAlign="center" mat-raised-button (click)="saveCampaign()" color="primary" *ngIf="enableEditMode"
		ngClass.lt-md="full-width" ngClass.gt-sm="quarter-wide">Submit</button>
		
		<button fxFlexAlign="center" mat-raised-button (click)="navigateTo('beneficiaries')" color="warn" *ngIf="enableEditMode"
		ngClass.lt-md="full-width" ngClass.gt-sm="quarter-wide">Beneficiaries</button>	

		<button fxFlexAlign="center" mat-raised-button color="accent" *ngIf="enableEditMode"
		ngClass.lt-md="full-width" ngClass.gt-sm="quarter-wide">Add Activity Summary</button>
	</div>
	
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			Total Beneficiaries - {{campaign.b?.length}}
		</mat-expansion-panel-header>
		<app-beneficiary [campaignId]="campaign.id" [bids]="campaign.b"></app-beneficiary>
	</mat-expansion-panel>
</div>