<div class="main-container" fxLayout="column" >
	<header>
		<!-- <button *ngIf="pwa.promptEvent" (click)="installPwa()">
			Install
		</button> -->
		<app-progress-spinner [loaderType]="'overlay-spinner'"></app-progress-spinner>
		<div  id="moveTop"></div>
		<div><app-navigation *ngIf="isShowNavigation"></app-navigation></div>
	</header>
	<!-- Main -->
	<main fxFlex>
		<router-outlet></router-outlet>		
		<!-- <div  *ngIf="displayNotification" class="notification-message" [@toggleMenu]>
			<span *ngIf="msgType==='NEW'">{{"MESSAGES.NEW" | translate}}</span>
			<span *ngIf="msgType==='INACTIVE'">{{"MESSAGES.INACTIVE" | translate}}</span>
			<span *ngIf="msgType==='ACTIVE'">{{"MESSAGES.ACTIVE" | translate}}</span>
			<span *ngIf="msgType==='ACTIVE2'">{{"MESSAGES.ACTIVE2" | translate}}</span>
		</div> -->
		<!-- <iframe class="chatbot" 
			src="http://localhost:1337/" ></iframe>	 -->
	</main>
	<!-- Footer -->
	<div class="footer" fxLayout="column" fxLayoutAlign="space-around center" *ngIf="showFooter">
		<div class="footer-text">{{"FOOTER.NOTE" | translate}}</div>
		<div class="full-width" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-between center">
			<div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
				<a class="footer-link" href="/privacy">{{"NAV.PRIVACY" | translate}}</a>
				<a class="footer-link" href="/tnc">{{"NAV.TNC" | translate}}</a>
				<a class="footer-link" href="/refund-policy" target="_blank">{{"NAV.REFUND" | translate}}</a>
				<a class="footer-link" href="/shipping-policy" target="_blank">{{"NAV.SHIPPING" | translate}}</a>
				<a class="footer-link" href="/faq">{{"NAV.FAQ" | translate}}</a>

				<a class="footer-link" href="/contact">{{"NAV.CONTACT" | translate}}</a>
			</div>
			<div fxLayout fxLayoutAlign="space-between center">
				<button mat-icon-button><mat-icon>facebook</mat-icon></button>
				<button mat-icon-button><i class="fab fa-twitter"></i></button>
				<button mat-icon-button><i class="fab fa-linkedin-in"></i></button>
			</div>
			<div class="version" fxFlexAlign="end">Version 1.1.1</div>
		</div>
	</div>
	<div>
		<notifier-container class="notifier-container"></notifier-container>
	</div>
</div>

