.mat-step-disabled {
  pointer-events: none;
  opacity: 0.5;
  color: #cccccc;
}

.vl {
  border-left: 2px solid #731539;
  height: 500px;
}

.completed {
  color: #731539;
}

h3{
    color: lightgrey;
}
