<div fxLayout fxLayoutGap="16px">
	<app-store-selector (storeSelected)="storeSelectionModified($event)"></app-store-selector>
	<app-search-product fxFlex (itemSelected)="searchItemSelected($event)"></app-search-product>
	<!-- <input type="file" style="display: none" 
	#fileInput accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
	[multiple]="false" (change)="onChangeFileInput($event.target)" />
	<div>
		<button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
			<mat-icon>attach_file</mat-icon>
			Select File
		</button>
	</div> -->
	<div><a mat-raised-button color="accent" routerLink="add">Add New Product</a></div>
	<!-- <div><button mat-raised-button color="accent" (click)="exportStoreProducts()">Export Store Products</button></div> -->
</div>
<h3 *ngIf="productList.length===0">No product found</h3>
<div class="mat-elevation-z8" [hidden]="productList.length<=0">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchStr" placeholder="Filter">
		<button matSuffix mat-raised-button color="primary" (click)="fetchStoreProducts(0)">Search <mat-icon>search</mat-icon></button>
	</mat-form-field>
	<table class="full-width" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
		<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>

		<ng-container matColumnDef="brand">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
		<td mat-cell *matCellDef="let element"> {{element.brand?.sname}} </td>
		</ng-container>

		<ng-container matColumnDef="price">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> M.R.P. </th>
			<td mat-cell *matCellDef="let element; let i=index"> 
				<div class="input-cell">
					<mat-form-field>
						<input matInput [(ngModel)]="element.prices[0].unitPrice" (input)="updatePriceInventory($event.target.value, 'UNIT_PRICE', element, i)">
					</mat-form-field>
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="discountPercent">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Disc% </th>
			<td mat-cell *matCellDef="let element"> 
				<div class="input-cell">
					<mat-form-field>
						<input matInput [ngModel]="getUnitQtyDiscount(element.prices[0].discounts)?.discountPercentage" (input)="salePriceCalculator($event.target.value, 'DISCOUNT_PERCENT', element, i)">
						<span matSuffix *ngIf="getUnitQtyDiscount(element.prices[0].discounts)">%</span> 
					</mat-form-field>
				</div>
				
			</td>
		</ng-container>
		<ng-container matColumnDef="salePrice">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Price </th>
			<td mat-cell *matCellDef="let element"> 
				<div class="input-cell">
					<mat-form-field>
						<input matInput [ngModel]="getUnitQtyDiscount(element.prices[0].discounts)?.salePrice" (input)="salePriceCalculator($event.target.value, 'SALE_PRICE', element, i)">
					</mat-form-field>
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="qty">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
			<td mat-cell *matCellDef="let element; let i=index"> 
				<div class="input-cell">
					<mat-form-field>
						<input matInput [(ngModel)]="element.prices[0].qty" (input)="updatePriceInventory($event.target.value, 'QTY', element, i)">
					</mat-form-field>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="taxonomies">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Taxonomies </th>
		<td mat-cell *matCellDef="let element">
			<pre>
				{{getTaxonomy(element.taxonomies)}}
			</pre> 
		</td>
		</ng-container>

		<ng-container matColumnDef="attr">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Max Qty </th>
			<td mat-cell *matCellDef="let element; let i=index">
			<div class="input-cell">
				<mat-form-field>
					<input matInput [(ngModel)]="element.prices[0].maxAlldQty" (input)="updatePriceInventory($event.target.value, 'MAX_ALLWD_QTY', element, i)">
				</mat-form-field>
			</div>
		</td>
		</ng-container>

		<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
		<td mat-cell *matCellDef="let element; let i=index"> 
			<mat-checkbox (click)="$event.stopPropagation()"
							(change)="updatePriceInventory($event.checked, 'STATUS', element, i)"
							[checked]="element.status">
			</mat-checkbox> 
		</td>
		</ng-container>
		<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef> Actions </th>
		<td mat-cell *matCellDef="let element; let i=index">
			<div fxLayout>
				<button mat-icon-button (click)="updatePriceQuantity()" color="primary"><mat-icon>save</mat-icon></button>
				<a mat-icon-button target="_blank" [routerLink]="['/product',element.id]" color="primary" matTooltip="View">
					<mat-icon aria-label="View">remove_red_eye</mat-icon>
				</a>
				<a mat-icon-button [routerLink]="['/admin/product/edit',element.id]" color="accent" matTooltip="Edit">
					<mat-icon aria-label="View">edit</mat-icon>
				</a>
				<button mat-icon-button (click)="delete(element, i)" color="error"><mat-icon>delete</mat-icon></button>
			</div>
		</td>
		</ng-container>
		<ng-container matColumnDef="select">
		<th mat-header-cell *matHeaderCellDef>
			Is Active
		</th>
		<td mat-cell *matCellDef="let element">
			<mat-checkbox (click)="$event.stopPropagation()"
						(change)="selectionToggle($event, element)"
						[checked]="element.status=='Active'">
			</mat-checkbox>
		</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index;"></tr>
	</table>
	<div fxLayout fxLayoutGap="20px">
		<button mat-raised-button color="primary" *ngIf="productList.length<totalProductCount" (click)="loadMoreProducts()">Load More</button>
		<mat-select [(ngModel)]="pageSize" placeholder="Number of products to load">
			<mat-option value="5">5</mat-option>
			<mat-option value="10">10</mat-option>
			<mat-option value="25">25</mat-option>
			<mat-option value="50">50</mat-option>
			<mat-option value="100">100</mat-option>
		</mat-select>	
	</div>
	
	<!-- <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator> -->
</div>
