<div class="container">
  <div class="image-container" fxLayout.gt-sm fxLayout.lt-md="column" fxLayoutAlign="start start">
    <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap="12px" class="full-height" fxFlex.gt-sm="40%">
      <div fxFlexOrder.lt-md="2" fxFlexOrder.gt-sm="1" class="full-height">
        <swiper 
          [direction]="!isHandset?'vertical':'horizontal'"
          [pagination]="{clickable: true}"
          [slidesPerView]="6"
          [spaceBetween]="10"
          [width]="600"
          [height]="600">
          <ng-template swiperSlide *ngFor="let image of selectedProduct?.assets?.imgs; let i=index">
            <div class="guide-image-container">
              <img           
              [src]="image.downloadUrl"
              width="75"
              height="75"
              (click)="onImageSelected(image.downloadUrl)"/>
            </div>
          </ng-template>
        </swiper>
      </div>
      <div fxFlex="center" fxFlexOrder.lt-md="1" fxFlexOrder.gt-sm="2">
          <img class="responsive full-width" [src]="selectedImage" [@fade]="state" (@fade.done)="onDone($event)" />
      </div>
    </div>
    <div class="info-container" fxlayout="column" fxLayoutGap="10px" fxFlex="50%">
      <div class="product-name">
        {{selectedProduct?.name}}
      </div>
      <br />
      <div class="sub-title" *ngIf="storeSettings?.isBrandEnabled">Brand: {{selectedProduct?.brand?.sname}}</div>
      <div class="sub-title" *ngIf="selectedProduct?.attrs && selectedProduct?.attrs['Weight']">Net Weight: {{selectedProduct?.attrs['Weight']}}</div>
      <br />
      <div class="price" *ngIf="selectedPrice.discounts==null || selectedPrice.discounts?.length===0">
        {{selectedPrice.unitPrice | currency:'INR':'symbol-narrow':'1.2-2'}}
      </div>
      <div *ngIf="selectedPrice.discounts?.length>0" fxLayout fxLayoutGap="10px">
        <div class="original-price">{{selectedPrice.unitPrice | currency:'INR':'symbol-narrow':'1.2-2'}}</div>
        <div class="price">{{selectedDiscount?.salePrice | currency:'INR':'symbol-narrow':'1.2-2'}}</div>
        <div class="secondary-title"
             *ngIf="selectedPrice.discounts!=null && selectedPrice.discounts!=null">
          {{selectedDiscount?.discountPercentage+"% off"}}
        </div>
      </div>
      <span>(Inclusive of all taxes)</span>
      <br /><br /><br />
      <div fxLayout fxLayoutGap="16px">
        <!-- <app-add-to-cart-button class="full-width" [product]="selectedProduct" [selectedPrice]="selectedPrice"></app-add-to-cart-button> -->
        <a class="outline-button" [routerLink]="'/shoppin'" mat-raised-button color="accent">Browse Catalogue</a>
      </div>
      <br /><br /><br />
      <div *ngIf="selectedProduct?.attrs && selectedProduct?.attrs['Ingredients']">
        <div class="ingredients-title">Ingredients</div>
        <div class="ingredients">
          {{product.attrs['Ingredients']?.replace(",", ", ")}}
        </div>
      </div>
      <!--Description Section-->
      <div *ngIf="selectedProduct.desc!==null">
        <span [innerHTML]="selectedProduct?.desc?.shortDesc[0].val | safeHtml"></span>
      </div>

      <div class="monospaced">
        <table>
          <tr>
            <th [colSpan]="2">Attributes</th>
            <th class="variant-col">Other Variants</th>
          </tr>
          <tr *ngFor="let attr of selectedProduct?.attrs | keyvalue; let i=index">
            <td>{{attr?.key}}:&emsp;</td>
            <td>{{attr?.value}}</td>
            <td class="variant-col">
              <div *ngIf="products[0]?.variants?.attrs[attr?.key]==='dropdown'">
                <mat-select [(ngModel)]="attrSelectedValueMap[attr?.key]" (selectionChange)="attrSelectionUpdated($event)">
                  <mat-option *ngFor="let attrValue of variantAttrMap[attr?.key]" [value]="attrValue">
                    {{attrValue}}
                  </mat-option>
                </mat-select>
              </div>
              <div *ngIf="products[0]?.variants?.attrs[attr?.key]==='toggle_button'">
                <mat-button-toggle-group [(ngModel)]="attrSelectedValueMap[attr?.key]" (change)="attrSelectionUpdated($event)">
                  <mat-button-toggle  *ngFor="let attrValue of variantAttrMap[attr?.key]" [value]="attrValue">
                    {{attrValue}}
                  </mat-button-toggle>
                </mat-button-toggle-group>                
              </div>
              <div *ngIf="products[0]?.variants?.attrs[attr?.key]==='radiobutton'">
                <mat-radio-group [(ngModel)]="attrSelectedValueMap[attr?.key]" (change)="attrSelectionUpdated($event)">
                  <mat-radio-button *ngFor="let attrValue of variantAttrMap[attr?.key]" [value]="attrValue">{{attrValue}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </td>
          </tr>
        </table>
        <!-- <mat-list>
          <mat-list-item *ngFor="let attr of selectedProduct?.attrs | keyvalue; let i=index">
            <div class="monospaced">{{attr.key}}:&emsp;{{attr.value}}</div>
          </mat-list-item>
        </mat-list> -->
      </div>
      <div *ngIf="selectedProduct.desc!==null">
        <span [innerHTML]="selectedProduct?.desc?.longDesc[0].val | safeHtml"></span>
      </div>
    </div>
  </div>
</div>
<app-cart-floating-button [isAbsolute]=true></app-cart-floating-button>
