<div fxLayout="column">
	<h2>{{displayDetails.title}}</h2>
	<h3>{{order.prod}}</h3>	
	<p>{{order.prodDesc}}</p>
	<h4 *ngIf="order.amt">{{order.amt  | currency: 'INR':'symbol-narrow'}}</h4>
	<app-person-exact-match *ngIf="selectPerson" (personSelected)="personSelected($event, selectedPersonType)" [type]="'generic'" [inputLabel]="searchPersonHint" #searchBox></app-person-exact-match>
	<mat-form-field appearance="outline" *ngIf="!order.amt">
	    <input matInput placeholder="Amount" type="number" id="inputAmtReqd" class="form-control" [(ngModel)]="newAmount">
    </mat-form-field>

	<button mat-raised-button color="primary" (click)="placeOrder(phonepe)">{{action_name}} using PhonePe</button>
</div>


<!-- <button mat-raised-button color="primary" (click)="placeOrder(razorpay)">{{action_name}} using RazorPay</button> -->

