<div class="carousel">
  <ng-container class="img-wrapper" *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide"
      [src]="slide.src"
      class="slide"
      [@slideAnimation]="animationType"
    />
    <div class="overlay" fxLayout="column" fxLayoutAlign="center center" *ngIf="slide.text && i === currentSlide" [@slideAnimation]="animationType">
      <div class="small-text">{{slide.headline}}</div>
      <div class="big-text">{{slide.text}}</div>
      <button mat-raised-button color="primary" class="call-to-action-button">{{slide.callToActionText}}</button>
    </div>
  </ng-container>

  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>