<mat-card class="full-width">
  <mat-card-content fxLayout.lt-md="row" fxLayout.gt-sm="column" fxLayoutAlign="start center">
    <div class="img-container responsive-img" fxLayout="column" fxFlexAlign="center space-between">
      <img fxFlexAlign="center" class="mouse-hand" [src]="product?.assets?.imgs[0]?.downloadUrl" 
      height="90px" width="90px" (click)="showDetail()" loading="lazy"/>
      <div fxHide.lt-md>
        <div>{{product.brand?.sname}}</div>
        <div class="full-width title  mouse-hand"  (click)="showDetail()">{{product.name}}</div>
        <div class="weight">{{product.attrs["Weight"]}}</div>
      </div>
    </div>
    <div class="price-container">
      <div fxHide.gt-sm>
        <div>{{product.brand?.sname}}</div>
        <div class="full-width title  mouse-hand"  (click)="showDetail()">{{product.name}}</div>
        <div class="weight">{{product.attrs["Weight"]}}</div>
      </div>
      <div fxLayout fxLayoutAlign="space-between center">
        <div *ngIf="!selectedDiscount || selectedDiscount===null" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
          <div class="original">
            <span class="price">&nbsp;{{product.prices[0]?.unitPrice | currency:'INR':'symbol-narrow':'1.2-2'}}&nbsp;</span>
          </div>
        </div>
        <div *ngIf="selectedDiscount && selectedDiscount!==null" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
          <div class="original-striked">
            <span class="price">&nbsp;{{product.prices[0]?.unitPrice | currency:'INR':'symbol-narrow':'1.2-2'}}&nbsp;</span>
          </div>
          <div class="price">{{selectedDiscount?.salePrice | currency:'INR':'symbol-narrow':'1.2-2'}}</div>
          <div class="full-width center discount" 
            *ngIf="selectedDiscount!=null && selectedPrice.discounts.length===1">
              {{selectedDiscount?.discountPercentage+"% off"}}
          </div>
        </div>
        <mat-select *ngIf="selectedDiscount && selectedDiscount!==null && selectedPrice.discounts.length>1" [(ngModel)]="selectedDiscount" (ngModelChange)="selectedDiscountUpdated($event)">
          <mat-option *ngFor="let temp of selectedPrice.discounts" [value]="temp">{{temp.discountPercentage}}% off</mat-option>
        </mat-select>
        <div class="price" *ngIf="selectedDiscount===null">{{product.prices[0]?.unitPrice | currency:'INR':'symbol-narrow':'1.2-2'}}</div>
      </div>   
      <!-- <app-add-to-cart-button [product]="product" [selectedPrice]="selectedPrice"></app-add-to-cart-button> -->
    </div>
  </mat-card-content>
</mat-card>
