<mat-card class="full-width" fxLayout="column" fxLayoutAlign="start center">
  <mat-card-content>
    <div class="img-container responsive-img" fxLayout="column" fxFlexAlign="center space-between">
      <img 
        fxFlexAlign="center" 
        class="mouse-hand" 
        [src]="product?.assets?.imgs[0]?.downloadUrl" 
        height="180px" width="180px" (click)="showDetail()"
        loading="lazy"/>
      <div>{{product.brand?.sname}}</div>
      <div class="full-width title  mouse-hand"  (click)="showDetail()">{{product.name}}</div>
      <div class="weight">{{product.attrs["Weight"]}}</div>
    </div>
    <div class="price-container">
      <div fxLayout fxLayoutAlign="space-between center">
        <div *ngIf="!selectedDiscount || selectedDiscount===null" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
          <div class="original">
            <span class="price">&nbsp;{{product.prices[0]?.unitPrice | currency:'INR':'symbol-narrow':'1.0-0'}}&nbsp;</span>
          </div>
        </div>
        <div *ngIf="selectedDiscount && selectedDiscount!==null" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
          <div class="original-striked">
            <span class="price">&nbsp;{{product.prices[0]?.unitPrice | currency:'INR':'symbol-narrow':'1.0-0'}}&nbsp;</span>
          </div>
          <div class="price">{{selectedDiscount?.salePrice | currency:'INR':'symbol-narrow':'1.0-0'}}</div>
          <div class="full-width center discount" 
            *ngIf="selectedDiscount!=null">
              {{selectedDiscount?.discountPercentage+"% discount"}}
          </div>
        </div>
        <mat-select *ngIf="selectedDiscount && selectedDiscount!==null" [(ngModel)]="selectedDiscount" (ngModelChange)="selectedDiscountUpdated($event)">
          <mat-option *ngFor="let temp of selectedPrice.discounts" [value]="temp">{{temp.discountPercentage}}% discount</mat-option>
        </mat-select>
        <div class="price" *ngIf="selectedDiscount===null">{{product.prices[0]?.unitPrice | currency:'INR':'symbol-narrow':'1.0-0'}}</div>
      </div>   
      <app-add-to-cart-button [product]="product" [selectedPrice]="selectedPrice"></app-add-to-cart-button>
    </div>
  </mat-card-content>
</mat-card>
