<div class="container">
	<div fxLayout="row" fxLayout.lt-md="column">
		<div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start start">
			<img class="profile-pic" *ngIf="!person.pic?.downloadUrl" src="/assets/images/profile/profile.png" />
			<img class="profile-pic" *ngIf="person.pic?.downloadUrl" [src]="person.pic?.downloadUrl" height="150" width="150"/>
			<div fxLayout="column" fxLayoutGap="2px" >
				<div class="sub-title" fxFlexAlign="center">{{person.name}}</div>
				<div class="sub-title" fxFlexAlign="center" fxLayout fxLayout="center center">
					{{person.mobile}} <span *ngIf="person.isMobileVerified"><mat-icon [ngStyle]="{'color':'green'}">verified</mat-icon></span>
				</div>
				<div class="sub-title" fxFlexAlign="center">{{person.email}} <span *ngIf="person.isEmailVerified"><mat-icon [ngStyle]="{'color':'green'}">verified</mat-icon></span></div>
				<div class="sub-title">Status: {{person.status}}</div>
				<!-- <app-payment  *ngIf="person.status==='APPROVAL_PENDING'" [order]="order" [action_name]="'Donate &amp; Join 10X Community'"></app-payment> -->
				<a mat-link-button [routerLink]="'/reset-password'">Reset Password</a>
				<button mat-raised-button color="primary" (click)="openShareBottomSheet()">Share <mat-icon>share</mat-icon></button>
				<button mat-raised-button  color="accent"  (click)="requestNotification()">Request Updates</button>
				<button mat-raised-button  color="warn"  (click)="navigateTo('/explore')">View Campaigns</button>
				<button mat-raised-button color="primary" (click)="navigateTo('/service-offer-editor')">Services you offer <mat-icon>payments</mat-icon></button>
				<button mat-raised-button color="accent" (click)="navigateTo('/service-reqd-editor')">Service you need <mat-icon>payments</mat-icon></button>
			</div>	
		</div>
		<div class="right-container" fxFlex="grow" fxLayout="column" fxLayoutGap="8px">
			<mat-accordian>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
				      <mat-panel-title>
				        {{'PROFILE.P10X' | translate}}
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <div class="full-width" fxLayout fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center start">
						<div class="">{{'PROFILE.TEAM_SIZE' | translate}}: {{person.teamSize}}</div>
						<div class="">{{'PROFILE.DD' | translate}}: {{person.directDownlines?.length}}</div>
						<div class="">{{'PROFILE.REFERRED_BY' | translate}}: {{person.referrer?.n}}</div>
						<div class="">{{'PROFILE.SLOTS' | translate}}: {{person.currOrbit}}</div>
					</div>
					<div class="full-width" fxLayout fxLayoutAlign="space-between start" fxLayoutGap="8px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center start">
						<div class="">{{'PROFILE.TC' | translate}}:<br>{{person.totalAmountCollected | currency: 'INR':'symbol-narrow'}}</div>
						<div class="">{{ 'PROFILE.WITHDRAWABLE' | translate }}:<br>{{person.amtWithdrawable | currency: 'INR':'symbol-narrow'}}</div>
						<div class="">{{'PROFILE.TAW' | translate}}:<br>{{person.totalAmountWithdrawnTillDate|currency: 'INR':'symbol-narrow'}}</div>
						<!-- <div class="">{{'PROFILE.ACNL' | translate}}:<br>{{(person.amountCollectedForNextLevel?person.amountCollectedForNextLevel:0) | currency: 'INR':'symbol-narrow'}}</div> -->
						<div class="">{{'PROFILE.DQ' | translate}}:<br>{{person.donationQuota | currency: 'INR':'symbol-narrow'}}</div>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
				      <mat-panel-title>
				        {{'PROFILE.LEVELWISE' | translate}}
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <table>
						<tr>
							<th></th>
							<th>{{'TOTAL' | translate}}</th>
							<th *ngFor="let num of [].constructor(maxChildOrbit); let i=index">{{'ORBIT' | translate}} {{i+1}}</th>
						</tr>
						<tr *ngFor="let key of keys">
							<td class="table-header">Level {{key}}</td>
							<td>{{person.lwdlc[key]['count']}}</td>
							<td *ngFor="let temp of [].constructor(maxChildOrbit); let j=index">
								{{person.lwdlc[key][(j+1).toString()]?person.lwdlc[key][(j+1).toString()]:0}}
							</td>
						</tr>
					</table>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>{{'PROFILE.BUY_SLOTS' | translate}}</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="column" fxLayoutGap="8px">
						<mat-form-field>
							<mat-label>{{'PROFILE.SLOT_COUNT' | translate}}</mat-label>
							<button matPrefix mat-icon-button (click)="slotCount=slotCount-1; slotCountUpdated(slotCount)"><mat-icon>remove</mat-icon></button>
							<input style="text-align:center;" matInput placeholder="{{'PROFILE.SLOT_COUNT' | translate}}" type="number" [(ngModel)]="slotCount" class="form-control" (keyup)="slotCountUpdated($event)" (change)="slotCountUpdated($event)">
							<button matSuffix mat-icon-button (click)="slotCount=slotCount+1;slotCountUpdated(slotCount)"><mat-icon>add</mat-icon></button>
						</mat-form-field>
						<h5>{{totalAmountForSlots | currency: 'INR':'symbol-narrow'}}</h5>
						<app-person-exact-match (personSelected)="personSelected($event, 'SLOT_PURCHASE')" [type]="'generic'" #boughtForSearchBox></app-person-exact-match>
						<button 
							mat-raised-button 
							color="primary"
							[disabled]="buyButtonDisabled"
							(click)="approve()">
							Donate {{totalAmountForSlots | currency: 'INR':'symbol-narrow'}} &amp; Approve
						</button>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>{{'PROFILE.UPLOAD_IMAGES' | translate}}</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="row wrap" fxLayoutAlign="space-between center">
						<div fxLayout="column">
							<app-uploader [maxAllowedFileSize]="50" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="uploadCompleted($event, 'adh_f')" [header]="'Aadhaar Front Image'" [newFilename]="'adh_f'"></app-uploader>
							<img class="rectangular-img" *ngIf="person.aadhar_front?.downloadUrl" [src]="person.aadhar_front?.downloadUrl" height="150" width="300" alt="Aadhar Front"/>
						</div>

						<div fxLayout="column">
							<app-uploader [maxAllowedFileSize]="50" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="uploadCompleted($event, 'adh_b')" [header]="'Aadhaar Back Image'" [newFilename]="'adh_b'"></app-uploader>

							<img class="rectangular-img" *ngIf="person.aadhar_back?.downloadUrl" [src]="person.aadhar_back?.downloadUrl" height="150" width="300"/>
						</div>

						<div fxLayout="column">
							<app-uploader [maxAllowedFileSize]="50" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="uploadCompleted($event, 'pan')" [header]="'Pan Card Image'" [newFilename]="'pan'"></app-uploader>

							<img class="rectangular-img" *ngIf="person.pan?.downloadUrl" [src]="person.pan?.downloadUrl" height="150" width="300"/>
						</div>

						<div fxLayout="column">
							<app-uploader [maxAllowedFileSize]="512" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="uploadCompleted($event, 'pic')" [header]="'Profile Pic Image'" [newFilename]="'pic'"></app-uploader>

							<img class="rectangular-img" *ngIf="person.pic?.downloadUrl" [src]="person.pic?.downloadUrl" height="150" width="150"/>
						</div>

					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>{{'PROFILE.TRANSFER_CREDITS' | translate}}</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="column" fxLayoutGap="8px">
						<app-person-exact-match (personSelected)="personSelected($event, 'CREDIT_TRANSFER')" [type]="'generic'" [errorLabel]="'Please select a person to transfer coins'" #beneficiary></app-person-exact-match>
						<mat-form-field>
							<mat-label>{{'PROFILE.CREDITS' | translate}}</mat-label>
							<input matInput placeholder="Credits" type="number" [(ngModel)]="transferAmt" class="form-control">
						</mat-form-field>
						<button 
							mat-raised-button 
							color="primary"
							(click)="transfer()">
							{{'PROFILE.TRANSFER' | translate}}
						</button>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>{{'SIGNUP_FORM.ADD_NEW_PERSON' | translate}}</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="column" fxLayoutGap="8px">
						<mat-form-field>
							<mat-label>{{'SIGNUP_FORM.NAME' | translate}}</mat-label>
							<input matInput [(ngModel)]="np.name" placeholder="{{'SIGNUP_FORM.NAME' | translate}}">
						</mat-form-field>
						<mat-form-field>
							<mat-label>{{'SIGNUP_FORM.MOBILE' | translate}}</mat-label>
							<input matInput [(ngModel)]="np.mobile" placeholder="{{'SIGNUP_FORM.MOBILE' | translate}}">
						</mat-form-field>
						<mat-form-field>
							<mat-label>{{'SIGNUP_FORM.EMAIL' | translate}}</mat-label>
							<input matInput [(ngModel)]="np.email" placeholder="{{'SIGNUP_FORM.EMAIL' | translate}}">
						</mat-form-field>
						<app-person-exact-match (personSelected)="personSelected($event, 'REFERRER')" [type]="'generic'" inputLabel="{{'SIGNUP_FORM.REFERRER'|translate}}" errorLabel="{{'SELECT_PERSON_PROMPT'|translate}}" #referrerCntl></app-person-exact-match>
						<button mat-raised-button color="primary" (click)="saveNewPerson()">{{'SAVE' | translate}}</button>
					</div>
				</mat-expansion-panel>
			</mat-accordian>
		</div>
	</div>
</div>