@media only screen and (max-width: 600px) {
  .container {
    padding: 8px 12px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 32px 64px;
  }
}

.container{
  align-content: center;
}

.sub-title{
  font-weight: bold;
}
td{
  text-align: center;
}

.table-header{
  font-weight: bold;
}

.rectangular-img{
  border-radius: 5px;
}

.right-container{
  padding: 8px;
}

.slot-counter{
  text-align: center;
}