@media only screen and (max-width: 600px) {
  .container {
    padding: 8px 12px;
  }

  .content{
    padding-left: 24px;
    padding-right: 24px;
  }
  .mat-expansion-panel-header-title{
    padding-left: 8px ; 
  }
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 32px 64px;
  }
}

.container{
  align-content: center;
}

.sub-title{
  font-weight: bold;
}
td{
  text-align: center;
}

.table-header{
  font-weight: bold;
}

.rectangular-img{
  border-radius: 5px;
}

.right-container{
  padding: 8px;
  max-width: 100%;
}

.slot-counter{
  text-align: center;
}

.table h3{
  align-self: center;
}

.mat-table {
      overflow-x: scroll;
    }

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
.mat-row,
.mat-header-row {
    display: table-row;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}