.container{
  padding: 32px 64px;
}

img.profile-pic {
  border-radius: 60%;
}

.sub-title{
  font-weight: bold;
}
td{
  text-align: center;
}

.table-header{
  font-weight: bold;
}

.rectangular-img{
  border-radius: 5px;
}

.right-container{
  padding: 8px;
}