<div class="container">
	<div fxLayout="row" fxLayout.lt-md="column">
		<div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start start">
			<img class="profile-pic" *ngIf="!person.pic?.downloadUrl" src="/assets/images/profile/profile.png" />
			<img class="profile-pic" *ngIf="person.pic?.downloadUrl" [src]="person.pic?.downloadUrl" height="150" width="150"/>
			<div fxLayout="column" fxLayoutGap="2px" >
				<div class="sub-title" fxFlexAlign="center">{{person.name}}</div>
				<div class="sub-title" fxFlexAlign="center" fxLayout fxLayout="center center">
					{{person.mobile}} <span *ngIf="person.isMobileVerified"><mat-icon [ngStyle]="{'color':'green'}">verified</mat-icon></span>
				</div>
				<div class="sub-title" fxFlexAlign="center">{{person.email}} <span *ngIf="person.isEmailVerified"><mat-icon [ngStyle]="{'color':'green'}">verified</mat-icon></span></div>
				<div class="sub-title">Status: {{person.status}}</div>
				<!-- <app-payment  *ngIf="person.status==='APPROVAL_PENDING'" [order]="order" [action_name]="'Donate &amp; Join 10X Community'"></app-payment> -->
				<a mat-link-button [routerLink]="'/reset-password'">Reset Password</a>
				<button mat-raised-button (click)="openShareBottomSheet()">Share <mat-icon>share</mat-icon></button>
				<button mat-raised-button (click)="requestNotification()">Request Updates</button>
			</div>	
		</div>
		<div class="right-container" fxFlex="grow" fxLayout="column" fxLayoutGap="8px">
			<mat-accordian>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
				      <mat-panel-title>
				        Personal 10X Community Details
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <div class="full-width" fxLayout fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center start">
						<div class="">Team Size: {{person.teamSize}}</div>
						<div class="">Direct Downlines: {{person.directDownlines?.length}}</div>
						<div class="">Referred By: {{person.referrer?.n}}</div>
						<div class="">Current Orbit: {{person.currOrbit}}</div>
					</div>
					<div class="full-width" fxLayout fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center start">
						<div class="">Total Collection: {{person.totalAmountCollected}}</div>
						<div class="">Amount Withdrawable: {{person.amtWithdrawable}}</div>
						<div class="">Amount Withdrawn: {{person.totalAmountWithdrawnTillDate}}</div>
						<div class="">Collection for next level: {{person.amountCollectedForNextLevel?person.amountCollectedForNextLevel:0}}</div>
					</div>

					<div class="full-width" fxLayout fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center start">
						<div class="">Donation Quota: {{person.donationQuota}}</div>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
				      <mat-panel-title>
				        Levelwise &amp; Orbitwise Downlines
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <table>
						<tr>
							<th></th>
							<th>Total</th>
							<th *ngFor="let num of [].constructor(maxChildOrbit); let i=index">Orbit {{i+1}}</th>
						</tr>
						<tr *ngFor="let key of keys">
							<td class="table-header">Level {{key}}</td>
							<td>{{person.lwdlc[key]['count']}}</td>
							<td *ngFor="let temp of [].constructor(maxChildOrbit); let j=index">
								{{person.lwdlc[key][(j+1).toString()]?person.lwdlc[key][(j+1).toString()]:0}}
							</td>
						</tr>
					</table>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>Approve New Joinee</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="column" fxLayoutGap="8px">
						<app-person-exact-match (personSelected)="newPersonSelected($event)" [type]="'generic'"></app-person-exact-match>
						<button 
							mat-raised-button 
							color="primary"
							[disabled]="!selectedPersonForApproval || selectedPersonForApproval.s !== 'APPROVAL_PENDING'"
							(click)="approve()">
							Donate {{joiningCharges}} coins &amp; Approve
						</button>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>Upload Images</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="row wrap" fxLayoutAlign="space-between center">
						<div fxLayout="column">
							<app-uploader [maxAllowedFileSize]="50" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="uploadCompleted($event, 'adh_f')" [header]="'Aadhaar Front Image'" [newFilename]="'adh_f'"></app-uploader>
							<img class="rectangular-img" *ngIf="person.aadhar_front?.downloadUrl" [src]="person.aadhar_front?.downloadUrl" height="150" width="300" alt="Aadhar Front"/>
						</div>

						<div fxLayout="column">
							<app-uploader [maxAllowedFileSize]="50" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="uploadCompleted($event, 'adh_b')" [header]="'Aadhaar Back Image'" [newFilename]="'adh_b'"></app-uploader>

							<img class="rectangular-img" *ngIf="person.aadhar_back?.downloadUrl" [src]="person.aadhar_back?.downloadUrl" height="150" width="300"/>
						</div>

						<div fxLayout="column">
							<app-uploader [maxAllowedFileSize]="50" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="uploadCompleted($event, 'pan')" [header]="'Pan Card Image'" [newFilename]="'pan'"></app-uploader>

							<img class="rectangular-img" *ngIf="person.pan?.downloadUrl" [src]="person.pan?.downloadUrl" height="150" width="300"/>
						</div>

						<div fxLayout="column">
							<app-uploader [maxAllowedFileSize]="512" [uploadPath]="uploadPath" [isMultiple]="false" (imageUploaded)="uploadCompleted($event, 'pic')" [header]="'Profile Pic Image'" [newFilename]="'pic'"></app-uploader>

							<img class="rectangular-img" *ngIf="person.pic?.downloadUrl" [src]="person.pic?.downloadUrl" height="150" width="150"/>
						</div>

					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>Transfer credits</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="column" fxLayoutGap="8px">
						<app-person-exact-match (personSelected)="transferCreditsToSelected($event)" [type]="'generic'" [errorLabel]="'Please select a person to transfer coins'"></app-person-exact-match>
						<mat-form-field>
							<mat-label>Credits</mat-label>
							<input matInput placeholder="number" type="text" [(ngModel)]="transferAmt" class="form-control">
						</mat-form-field>
						<button 
							mat-raised-button 
							color="primary"
							(click)="transfer()">
							Transfer
						</button>
					</div>
				</mat-expansion-panel>
			</mat-accordian>
		</div>
	</div>
</div>