<div class="container" fxLayout="column">

  <mat-form-field>
    <input type="text"
           matInput
           [formControl]="cntlStoreName"
           [(ngModel)]="storeSettings.storeName"
           placeholder="Store Name" />
  </mat-form-field>

  <mat-form-field>
    <input type="text"
           matInput
           [formControl]="cntlHeaderText"
           [(ngModel)]="storeSettings.headerText"
           placeholder="Header Text" />
  </mat-form-field>

  <app-uploader [isMultiple]="false" [uploadPath]="uploadPath" [maxAllowedFileSize]="512" (imageUploaded)="uploadCompleted($event)"></app-uploader>
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <img [src]="storeSettings.logo['downloadUrl']" height="150" width="150" />
      <button mat-icon-button color="error" (click)="deleteImage(storeSettings.logo)"><mat-icon>delete</mat-icon></button>
    </mat-card-content>
  </mat-card>
  <mat-checkbox class="example-margin" [(ngModel)]="storeSettings.isBrandEnabled">Enable Brand</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="storeSettings.isTaxEnabled">Enable Tax</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="storeSettings.enablePincodeChecker">Enable Pincode Checker</mat-checkbox>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
