.top-section{
	line-height: 30px;
	text-align: justify;
	padding: 16px 12px 16px 0px;
}

.about-us-container{
  padding: 32px 64px;
}

.title-img{
  width: 100%;
  height: auto;
}

.grey-container{
  background-color: #f4f4f4;  
}

.second-container{
	padding: 16px 64px;
}


.join-card{
  max-width: 250px;
  margin: 16px;
}

.sub-title{
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 760px) {
  .second-container{
    padding: 16px 8px;  
  }
}

@media screen and (max-width: 1280px) {
  .second-container{
    padding: 16px 32px;
  }
}

header{
	font-size: 6vw;
	font-weight: bold;
}

li{
	font-size: 18px;
	margin-bottom: 18px;
}

.desc{
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
	color: #7f7f7f;
}

.unselected-call-to-action{
  cursor: pointer;
  min-width: 120px;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  background-color: white;
  color: black; 
  -webkit-transition: background 0.25s ease; /* For Safari 3.0 to 6.0 */
  transition: background 0.25s ease;
  transform-origin: top right;
}

.unselected-call-to-action:hover{
  background-color: black;
  color: white;
}

.selected-call-to-action{
  min-width: 120px;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  background-color: black;
  color: white; 
}

.fourth-container{
  background: linear-gradient(0deg, #30303075, #30303075), url("/assets/images/carousel/business.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: static;
  padding: 15px 80px;
  color: white;
  margin-bottom: 20px;
  .small-title{
    background-color: black;
    padding: 16px;
  }

  .my-title{
    padding: 24px;
    max-width: 800px; 
    text-align: center;
  }
}

.dark-overlay{
  background-color: #30303075;
  width: 100%;
  height: 100%;
  position: static;
}

.my-title{
  font-size: 48px;
  font-weight: bold;
}

.call-to-action-dark{
  cursor: pointer;
  min-width: 120px;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  background-color: black;
  color: white; 
  -webkit-transition: background 0.25s ease; /* For Safari 3.0 to 6.0 */
  transition: background 0.25s ease;
  transform-origin: top right;
}

.call-to-action-dark:hover{
  background-color: white;
  color: black;
}

.small-title{
  font-size: 36px;
  font-weight: bold;
}

.mat-card-image{
  height: 200px;
}

.scroll-top-button{
  position: absolute;
  bottom: 15px;
  right:25px;
}