<div class="container">
	<div class="about-us-container">
		<h1>About Us</h1>
		<div fxLayout="row" fxLayout.lt-md="column">
			<div fxFlex fxFlexOrder.lt-md="2">
				<h2>Introduction</h2>
				<p class="top-section">{{"ABOUT_US.PARA1" | translate}}</p>
				<div fxLayout="column" fxLayoutGap="24px">
					<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
						<div style="padding-top: 12px"><mat-icon>check_box</mat-icon></div>
						<h3>{{"ABOUT_US.DISCOVER_MSG" | translate}}</h3>
					</div>
					<div fxLayout fxLayoutGap="12px">
						<div style="padding-top: 12px"><mat-icon>check_box</mat-icon></div>
						<h3>{{"ABOUT_US.ENROLL_MSG" | translate}}</h3>
					</div>
				</div>
			</div>
			<div fxFlex fxFlexOrder.lt-md="1">
				<img class="title-img" src="/assets/images/about-us.jpg"/>
			</div>
		</div>
	</div>

	<div class="bContainer">
		<div class="center"><h2>{{"ABOUT_US.TRUSTEES" | translate}}</h2></div>

		<div fxLayout="row wrap" fxLayoutAlign="center center" style="margin:12px">
			<mat-card fxLayout="column" fxLayoutAlign="start center" class="join-card">
	            <mat-card-header>
	                <mat-card-title class="center">{{"ABOUT_US.DEEP" | translate}}</mat-card-title>
	            </mat-card-header>
	            <img mat-card-image src="/assets/images/trustees/deep.png">
	            <mat-card-content fxFlex="grow">
	            	<div class="sub-title">Software Engineer(Computers), Social Reformer</div>
	            	<p>{{"ABOUT_US.DEEP_DET" | translate}}</p>
	            </mat-card-content>
	        </mat-card>

	        <mat-card fxLayout="column" class="join-card">
	            <mat-card-header>
	                <mat-card-title class="center">{{"ABOUT_US.UMESH" | translate}}</mat-card-title>
	            </mat-card-header>
	            <img mat-card-image src="/assets/images/trustees/umesh.jpeg">
	            <mat-card-content fxFlex="grow">
	            	<div class="sub-title">M.Com, Businessman & Social Worker</div>
	            	<p>{{"ABOUT_US.UMESH_DET" | translate}}</p>
	            </mat-card-content>
	        </mat-card>

	        <mat-card fxLayout="column" class="join-card">
	            <mat-card-header>
	                <mat-card-title class="center">{{"ABOUT_US.NAKUL" | translate}}</mat-card-title>
	            </mat-card-header>
	            <img mat-card-image src="/assets/images/trustees/nakul.jpeg">
	            <mat-card-content fxFlex="grow">
	            	<div class="sub-title">Retired Foreman from IOCL, Social Reformer</div>
	            	<p>{{"ABOUT_US.NAKUL_DET" | translate}}</p>
	            </mat-card-content>
	        </mat-card>

	        <mat-card fxLayout="column" class="join-card">
	            <mat-card-header>
	                <mat-card-title class="center">{{"ABOUT_US.SUBHAS" | translate}}</mat-card-title>
	            </mat-card-header>
	            <img mat-card-image src="/assets/images/trustees/subhas.jpeg">
	            <mat-card-content fxFlex="grow">
	            	<div class="sub-title">Social Worker</div>
	            	<p>{{"ABOUT_US.SUBHAS_DET" | translate}}</p>
	            </mat-card-content>
	        </mat-card>

	        <mat-card fxLayout="column" class="join-card">
	            <mat-card-header>
	                <mat-card-title class="center">{{"ABOUT_US.CHHAVI" | translate}}</mat-card-title>
	            </mat-card-header>
	            <img mat-card-image src="/assets/images/trustees/chhavi.jpeg">
	            <mat-card-content fxFlex="grow">
	            	<div class="sub-title">Masters in Education, Social Worker</div>
	            	<p>{{"ABOUT_US.CHHAVI_DET" | translate}}</p>
	            </mat-card-content>
	        </mat-card>

	        <mat-card fxLayout="column" class="join-card">
	            <mat-card-header>
	                <mat-card-title class="center">{{"ABOUT_US.VIJAY" | translate}}</mat-card-title>
	            </mat-card-header>
	            <img mat-card-image src="/assets/images/trustees/vijay.jpeg">
	            <mat-card-content fxFlex="grow">
	            	<div class="sub-title">Bachelor of Arts, Social Worker</div>
	            	<p>{{"ABOUT_US.VIJAY_DET" | translate}}</p>
	            </mat-card-content>
	        </mat-card>
		</div>
	</div>

	<div class="second-container grey-container">
		<div class="row">
			<div fxFlex fxLayout="column" fxLayoutGap="24px">
				<header>Next Generation of Crowdfunding</header>
				<div fxLayout fxLayoutAlign="space-around center" fxLayout.lt-md="column" fxLayoutGap.lt-md="4px">
					<div [ngClass]="selectedText == 'mission' ? 'selected-call-to-action' : 'unselected-call-to-action'" (click)="selectedText='mission'">Our Mission</div>
					<div [ngClass]="selectedText == 'vision' ? 'selected-call-to-action' : 'unselected-call-to-action'" (click)="selectedText='vision'">Our Vision</div>
					<div [ngClass]="selectedText == 'history' ? 'selected-call-to-action' : 'unselected-call-to-action'" (click)="selectedText='history'">Our History</div>
					<!-- <button mat-raised-button color="primary">Our Mission</button>
					<button mat-raised-button color="primary">Our Vision</button>
					<button mat-raised-button color="primary">Our History</button> -->
				</div>
				<div fxLayout fxLayoutGap="8px">
					<div class="mlist">
						<ul>
							<li>100% fund belongs to you</li>
							<li>No adminor platform fee</li>
							<li>Easy to create campaign</li>
							<li>100% fund belongs to you</li>
							<li>Fundraiser to fundraiser community support</li>
						</ul>
					</div>
					<div fxHide.lt-md><img src="/assets/images/next-big-thing-thumb.png"/></div>
				</div>
			</div>
			<div fxFlex>
				<div class="desc" *ngIf="selectedText=='mission'">
					<p>{{"ABOUT_US.MPARA1" | translate}}</p>
					<p>{{"ABOUT_US.MPARA2" | translate}}</p>
					<p>{{"ABOUT_US.MPARA3" | translate}}</p>
				</div>
				<div class="desc" *ngIf="selectedText=='vision'">
					<p>{{"ABOUT_US.VPARA1" | translate}}</p>
					<p>{{"ABOUT_US.VPARA2" | translate}}</p>
					<p>{{"ABOUT_US.VPARA3" | translate}}</p>
				</div>
				<div class="desc" *ngIf="selectedText=='history'">
					<p>{{"ABOUT_US.HPARA1" | translate}}</p>
					<p>{{"ABOUT_US.HPARA2" | translate}}</p>
					<p>{{"ABOUT_US.HPARA3" | translate}}</p>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="second-container" fxLayout="column" fxLayoutAlign="center center">
		<h1>{{"ABOUT_US.EXP_FREE" | translate}}</h1>
		<div class="desc">
			<p>{{"ABOUT_US.EFPARA1" | translate}}</p>
			<p>{{"ABOUT_US.EFPARA2" | translate}}</p>
			<p>{{"ABOUT_US.EFPARA3" | translate}}</p>
		</div>
		
		<h2 fxFlexAlign="start">{{"ABOUT_US.MARKET_TOOL" | translate}}</h2>
		<div class="desc">
			<p>{{"ABOUT_US.MTPARA1" | translate}}</p>
			<p>{{"ABOUT_US.MTPARA2" | translate}}</p>
		</div>
		<h2 fxFlexAlign="start"><p>{{"ABOUT_US.FREE" | translate}}</p></h2>
		<div class="desc">
			<p>{{"ABOUT_US.FP1" | translate}}</p>
			<p>{{"ABOUT_US.FP2" | translate}}</p>
			<p>{{"ABOUT_US.FP3" | translate}}</p>
		</div>
	</div>
	<div class="fourth-container">
		<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div class="small-title">{{"HOME.POWER_OF_UNITY" | translate}}</div>
            <div class="my-title">{{"HOME.UNITY_MSG" | translate}}</div>
            <div class="call-to-action-dark">{{"HOME.START_PROJECT" | translate}}</div>    
        </div>
        <div class="dark-overlay"></div>
	</div>
</div>
<button class="scroll-top-button" mat-fab (click)="scrollToTopFunc($event)">
    <mat-icon>arrow_upward</mat-icon>
</button>