<app-progress-spinner></app-progress-spinner>
<mat-toolbar class="navbar" #navToolbar>	
	
		<mat-toolbar-row *ngIf="!shrinkToolbar" class="main-header-item" fxHide.lt-md>
			<div fxLayout="row" fxFlex="20">
				<picture>
					<source media="(min-width:650px)" srcset="/assets/images/logo-72x72.png">
				  	<source media="(min-width:465px)" srcset="/assets/images/logo-48x48.png">
				  	<img src="/assets/images/logo-48x48.png" alt="Good-Act" style="width:auto;">
				</picture>
				<!-- <div class="header-logo">
					<a href="index.aspx"><img src="/assets/images/logo.png" alt="logo.deepway"></a>
				 </div> -->
			</div>
			<div class="nav-menu-container" fxLayout="row" fxFlex="80" fxLayoutAlign="center">
				<button mat-button (click)="navigateTo('/')">
					{{"NAV.HOME" | translate}}
				</button>
				<button mat-button (click)="navigateTo('/about-us')">
					{{"NAV.ABOUT_US" | translate}}
				</button>
				<button mat-button (click)="navigateTo('/explore')">
					{{"NAV.CAMPAIGNS" | translate}}
				</button>
				<button mat-button [matMenuTriggerFor]="services">
					{{"NAV.SERVICES" | translate}}
				</button>
                <button mat-button (click)="navigateTo('/store')">
					{{"NAV.STORE" | translate}}
				</button>
				<!-- <button mat-button (click)="navigateTo('/downloads')">
					Download
				</button> -->
				<button mat-button (click)="navigateTo('/profile')" *ngIf="isLoggedIn">
					{{"NAV.PROFILE" | translate}}
				</button>

				<button mat-button [matMenuTriggerFor]="reports" *ngIf="isLoggedIn">
					{{"NAV.REPORTS" | translate}}
				</button>
                
				<mat-select fxFlex="10" class="big-navbar-select" [(value)]="selectedLanguage" (selectionChange)="updateLanguage($event)">
					<mat-option *ngFor="let lang of langs" [value]="lang.mValue">{{lang.displayName}}</mat-option>
				</mat-select>

				<mat-menu #reports="matMenu">
				  <button mat-menu-item (click)="navigateTo('/transaction-report')">{{"NAV.TRANS_REP" | translate}}</button>
				  <button mat-menu-item (click)="navigateTo('/global-earning-report')">{{"NAV.GLOBAL_REP" | translate}}</button>
				  <button mat-menu-item (click)="navigateTo('/sale-report/downline-report')">{{"NAV.SALE_REP" | translate}}</button>
				  <button mat-menu-item (click)="navigateTo('/sale-report/my-report')">{{"NAV.MY_PURCHASES" | translate}}</button>
				</mat-menu>

				<mat-menu #services="matMenu">
					<button mat-menu-item (click)="navigateTo('/shoppin')">{{"CATALOGUE" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/explore')">{{"NAV.MORNING_KIRTAN" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/explore')">{{"NAV.EDU" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/service-offer-editor')">{{"NAV.UNEMPLOYED" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/service-reqd-editor')">{{"NAV.NEED_SERVICE" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/marriage-profile-list')">{{"NAV.SEARCH_SPOUSE" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/marriage-profile-list/self')">{{"NAV.CREATE_MARRIAGE_PROFILE" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/explore')">{{"NAV.GRP_MARRIAGE" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/explore')">{{"NAV.FFL" | translate}}</button>
					<button mat-menu-item (click)="navigateTo('/explore')">{{"NAV.ENVIRONMENT" | translate}}</button>
				</mat-menu>

				<!-- <button mat-button (click)="navigateTo('/daily-report')">
					Daily Report
				</button> -->
			 </div>
			<div class="sign-in" fxLayout="row" fxFlex="20" fxLayoutAlign="end">
				<button mat-button (click)="toggleLoginStatus(isLoggedIn)" *ngIf="isLoggedIn">
					{{"NAV.LOGOUT" | translate}} <mat-icon aria-label="{{'NAV.LOGOUT' | translate}}">logout</mat-icon>
				</button>
				<button mat-button (click)="toggleLoginStatus(isLoggedIn)" *ngIf="!isLoggedIn">
					{{"NAV.LOGIN" | translate}} <mat-icon aria-label="isLoggedIn?:'Logout':'Login/Sign Up'">lock</mat-icon>
				</button>
			</div>
		</mat-toolbar-row>
	
	<!-- <mat-toolbar-row *ngIf="shrinkToolbar" class="narrow-navbar" fxLayout fxLayoutAlign="space-between center" fxHide.lt-md>
		<a class="brand" routerLink="/">
			Good Act
		</a>
		<div class="middle-container">
			<div class="full-width">
				<app-department-bar></app-department-bar>
			</div>
		</div>
	</mat-toolbar-row> -->
	<mat-toolbar-row class="narrow-navbar" fxHide.gt-sm>
		<div fxLayout="row" fxFlex="30">
			<div class="header-logo">
				<a href="index.aspx"><img src="/assets/images/logo-48x48.png" alt="Good-Act" style="width:auto"></a>
			 </div>
		</div>
		<div fxLayout="row" fxFlex="20"></div>
		<div fxLayout="row" fxFlex="50" fxLayoutAlign="end">
			<button mat-icon-button  (click)="toggleLoginStatus(isLoggedIn)">
				<mat-icon>{{isLoggedIn?'logout':'lock'}}</mat-icon>
			</button>
			<button mat-icon-button (click)="toggleLeftDrawer()">
				<mat-icon *ngIf="!isLeftBarOpen">menu</mat-icon>
				<mat-icon *ngIf="isLeftBarOpen">close</mat-icon>
			</button>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
<div [hidden]="isLeftBarOpen" [@openClose]="isLeftBarOpen?'open':'closed'" class="left-drawer" fxLayout="column" fxLayoutGap="16px" fxHide.gt-sm>
	<div fxLayout="column" fxLayoutGap="16px">
		<div>
			<button style="margin-left: 5%;" mat-icon-button class="mobPageLink-close" (click)="toggleLeftDrawer()">
			{{"CLOSE" | translate}} <mat-icon>close</mat-icon>
		</button>
		</div>
		<button mat-button class="mobPageLink" (click)="navigateTo('/')">
			{{"NAV.HOME" | translate}}
		</button>
		<button *ngIf="isLoggedIn" mat-button class="mobPageLink" (click)="navigateTo('/profile')">
			{{"NAV.PROFILE" | translate}}
		</button>
		<button *ngIf="isLoggedIn" mat-button class="mobPageLink" (click)="displayReportMenu = !displayReportMenu">
			{{"NAV.REPORTS" | translate}} 
			<span fxFlexAlign="center"> 
				<mat-icon *ngIf="!displayReportMenu">expand_more</mat-icon>
				<mat-icon *ngIf="displayReportMenu">expand_less</mat-icon>
			</span>
		</button>
		<div *ngIf="displayReportMenu" class="mob-sub-menu" [@toggleMenu]>
			<button *ngIf="isLoggedIn" mat-button class="mobPageLink" (click)="navigateTo('/transaction-report')">
			{{"NAV.TRANS_REP" | translate}}
			</button>
			<button *ngIf="isLoggedIn" mat-button class="mobPageLink" (click)="navigateTo('/global-earning-report')">
				{{"NAV.GLOBAL_REP" | translate}}
			</button>
			<button *ngIf="isLoggedIn" mat-button class="mobPageLink" (click)="navigateTo('/sale-report')">
				{{"NAV.SALE_REP" | translate}}
			</button>
		</div>
		<!-- <button *ngIf="isLoggedIn" mat-button class="mobPageLink" (click)="navigateTo('/daily-report')">
			Daily Report
		</button> -->
		<button mat-button class="mobPageLink" (click)="navigateTo('/about-us')">
			{{"NAV.ABOUT_US" | translate}}
		</button>
		<button mat-button class="mobPageLink" (click)="navigateTo('/explore')">
			{{"NAV.CAMPAIGNS" | translate}}
		</button>
		<button mat-button class="mobPageLink" (click)="displayServicesMenu=!displayServicesMenu">
			{{"NAV.SERVICES" | translate}}
			<span fxFlexAlign="center"> 
				<mat-icon *ngIf="!displayServicesMenu">expand_more</mat-icon>
				<mat-icon *ngIf="displayServicesMenu">expand_less</mat-icon>
			</span>
		</button>
		<div class="mob-sub-menu" *ngIf="displayServicesMenu" [@toggleMenu]>
			<button mat-button class="mobPageLink" (click)="navigateTo('/shoppin')">{{"CATALOGUE" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/explore')">{{"NAV.MORNING_KIRTAN" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/explore')">{{"NAV.EDU" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/service-offer-editor')">{{"NAV.UNEMPLOYED" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/service-reqd-editor')">{{"NAV.NEED_SERVICE" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/marriage-profile-list')">{{"NAV.SEARCH_SPOUSE" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/marriage-profile-list/self')">{{"NAV.CREATE_MARRIAGE_PROFILE" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/explore')">{{"NAV.GRP_MARRIAGE" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/explore')">{{"NAV.FFL" | translate}}</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/explore')">{{"NAV.ENVIRONMENT" | translate}}</button>
		</div>
		<button mat-button class="mobPageLink" (click)="navigateTo('/store')">
			{{"NAV.STORE" | translate}}
		</button>
		<!-- <button mat-button class="mobPageLink" (click)="navigateTo('/downloads')">
			Download
		</button> -->
		<button mat-button *ngIf="pwa.promptEvent" class="mobPageLink" (click)="installPwa()">
			{{"NAV.INSTALL" | translate}}
		</button>
		<mat-select fxFlex="10" class="mobPageLink" [(value)]="selectedLanguage" (selectionChange)="updateLanguage($event)">
			<mat-option *ngFor="let lang of langs" [value]="lang.mValue">{{lang.displayName}}</mat-option>
		</mat-select>
		<button class="mobPageLink" *ngIf="!isLoggedIn" mat-button (click)="toggleLoginStatus(isLoggedIn)">
			{{"NAV.LOGIN" | translate}} <mat-icon>lock</mat-icon>
		</button>

		<button class="mobPageLink" *ngIf="isLoggedIn" mat-button (click)="toggleLoginStatus(isLoggedIn)">
			{{"NAV.LOGOUT" | translate}} <mat-icon>logout</mat-icon>
		</button>

		<div class="version" fxFlexAlign="start">Version 1.0.9</div>
	</div>
	<!-- <div class="offcanvas_footer">
		<span>
		<a href="https://t.me/deepway_global" target="_blank">
		<i class="fa fa-telegram "></i> Join Telegram</a></span>
		<br>
		<br>
		<span><a href="mailto:info@deepway.io"><i class="fa fa-envelope-o"></i> info@deepway.io</a></span>
	</div> -->
</div>
