.navbar{
  z-index: 999;
  background-color: transparent; 
}

.navbar .mat-toolbar-row{
  background: #d70000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2217c5 60%, #9ef9d4c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2217c5 60%, #9ef9d4c7);
  color: white;
}

.version{
  color: white;
}

a.pageLink, .nav-icon {
  padding: 0 14px;
  color:#2217c5;  
}

.big-navbar-select{
  font-size: 14px;
}

button.mobPageLink {
  padding: 0 14px;
  color: white;
  align-self:flex-start;
  font-size: 18px;
  font-weight: 800;
  width: 100%;
  text-align: left;
}

button.mobPageLink-close {
  padding: 0 14px;
  color: white;
  align-self:flex-start;
  font-size: 18px;
  font-weight: 800;
  width: 100%;
  text-align: right;
}

.example-spacer {
  flex: 1 1 auto;
}

.brand{
	color: white;
	text-decoration: none;
  margin-top: 4px;
}

.mob-welcome-msg{
    font-size:14px;
}

form{
  font-size: 12px;
}

a{
  color: #f93a04;
  text-decoration: none;
}

.sidebar{
  background: #2217c5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2217c5, #0eeba4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2217c5, #0eeba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: absolute;
  right: 0;
  width: 245px;
  height: 80%;
  padding: 5%;
  z-index: 100;
  overflow: auto;
  top: 20%;

  button{
      color: white;
    text-align: left;
    padding: 0;
  }
}

.left-drawer {
  background: #2217c5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2217c5, #0eeba4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2217c5, #0eeba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: absolute;
  left: 0;
  top: 0;
  max-width: 99%;
  height: 100%;
  z-index: 100;
  overflow: auto;
  // top: 20%;
}

@media screen and (min-width: 400px){
  mat-toolbar{
    padding: 10px 60px;
  }
}

@media screen and (max-width: 400px){
  mat-toolbar{
    padding: 10px 10px;
  }

  .wide-navbar {
    justify-content: center !important;
    overflow: hidden;
  }

  .toggle-menu {
    position: absolute;
    right: 0;
    top: 12%;
  }
}

mat-toolbar{
  background-color: white;
}

.wide-navbar{
  height: 18vh;
  background-color: white;  
}

.narrow-navbar{
  height: 8vh;
  background-color: white;
}

.middle-container{
  max-width: 60vw;
  width: 100%;
}

.navbar {
  // border-bottom: 1px solid #afa6a6;
  padding: 0;
  // height: 15vh;
}

.top-section {
  background-color : #731539;  
  z-index: 1;
  height: 25px;
  min-height: 25px;
  div {
    height: 25px;
    align-items: center !important;
  }

  h5 {
    color: #fff;
    font-size:12px;
  }

  .right-section {
    position: absolute;
    right: 40px;
    font-size: 12px;

      a {        
        color: #FFF;
      }
  }
}

.slider-section {
  padding: 0;
}

.mat-divider {
  border-top-color: #FFF;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.header-top {
  height: 50px;
  border-bottom: 1px solid #e9e9ee;
}

.header-info ul, .social ul {
  padding-inline-start: 0;
}

.header-top li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.header-top li:last-child {
  padding-right: 0 !important;
}

.header-top a {
  color: #838694;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.header-top .header-info ul li a i {
  padding-right: 6px;
  color: #674df0;
}

.main-header-item button {
  font-size: 14px;
}

.main-header-item .sign-in button {
  padding: 0 !important;
  font-size: 14px;
}

.narrow-navbar button {
  margin-left: 30px;
}

.left-drawer .social {
  margin-left: 40px;
}

.left-drawer .social li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.offcanvas_footer {
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.offcanvas_footer span a {
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media screen and (max-width: 480px) {
  .mat-select.mobPageLink ::ng-deep .mat-select-value{    
    color: white;  
  }
}

div.mob-sub-menu{
  padding-left: 12px; 
}