<app-progress-spinner></app-progress-spinner>
<mat-toolbar class="navbar" #navToolbar>
	<mat-toolbar-row *ngIf="!shrinkToolbar" class="navbar" fxLayout fxLayoutAlign="space-around center" fxHide.lt-md>
		<div fxFlexAlign="center">
			<a routerLink="/">
				GoodAct
			</a>	
		</div>
		
		<div fxLayout="column" style="padding-top: 25px; align-items: center;" fxFlex="75">
			<div class="middle-container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="4px" fxHide.lt-md>
				<div>
					<button mat-button (click)="navigateTo('/')">
						Home
					</button>
					<button mat-button (click)="navigateTo('/about-us')">
						About Us
					</button>
					<button mat-button (click)="navigateTo('/explore')">
						Explore
					</button>
					<button mat-button (click)="navigateTo('/faq')">
						FAQ
					</button>
					<button mat-button (click)="navigateTo('/contact')">
						Contact
					</button>
					<button mat-button (click)="navigateTo('/downloads')">
						Download
					</button>
					<button mat-button (click)="navigateTo('/profile')">
						Profile
					</button>
					<button mat-button (click)="toggleLoginStatus(isLoggedIn)">
						{{isLoggedIn?'Logout':'Sign In/New User? Sign Up'}} <mat-icon aria-label="isLoggedIn?:'Logout':'Login/Sign Up'">{{isLoggedIn?'logout':'lock'}}</mat-icon>
					</button>
				</div>
			</div>
			<div class="full-width" fxHide fxShow.gt-md style="margin-top: -15px;">
				<app-department-bar></app-department-bar>
			</div>
		</div>
		<div fxLayout fxHide.gt-sm>
			<div fxHide fxShow.gt-md fxFlexAlign="center">Welcome {{isLoggedIn?name:'User'}}</div>
			<button mat-icon-button class="toggle-menu" (click)="toggleSidebar()">
				<mat-icon *ngIf="!isSidebarOpen">menu</mat-icon>
				<mat-icon *ngIf="isSidebarOpen">close</mat-icon>
			</button>
		</div>
	</mat-toolbar-row>
	<mat-toolbar-row *ngIf="shrinkToolbar" class="narrow-navbar" fxLayout fxLayoutAlign="space-between center" fxHide.lt-md>
		<a class="brand" routerLink="/">
			Good Act
		</a>
		<div class="middle-container">
			<div class="full-width">
				<app-department-bar></app-department-bar>
			</div>
		</div>
	</mat-toolbar-row>
	<mat-toolbar-row class="narrow-navbar" fxLayout fxLayoutAlign="space-between center" fxHide.gt-sm>
		<a class="brand" routerLink="/">
			Good Act
		</a>
		<div class="mob-welcome-msg">Welcome {{isLoggedIn?name:''}}</div>
	</mat-toolbar-row>
	<mat-toolbar-row class="narrow-navbar" fxLayout fxLayoutAlign="space-between center" fxHide.gt-sm>
		<button mat-icon-button (click)="toggleLeftDrawer()">
			<mat-icon *ngIf="!isLeftBarOpen">menu</mat-icon>
			<mat-icon *ngIf="isLeftBarOpen">close</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>

<div [hidden]="isLeftBarOpen" [@openClose]="isLeftBarOpen?'open':'closed'" class="left-drawer" fxLayout="column" fxLayoutGap="16px" fxHide.gt-sm>
	<button mat-button class="mobPageLink" (click)="navigateTo('/')">
		Home
	</button>
	<button mat-button class="mobPageLink" (click)="navigateTo('/static-page/about-us')">
		About Us
	</button>
	<button mat-button class="mobPageLink" (click)="navigateTo('/static-page/about-us')">
		Explore
	</button>
	<button mat-button class="mobPageLink" (click)="navigateTo('/static-page/about-us')">
		FAQ
	</button>
	<button mat-button class="mobPageLink" (click)="navigateTo('/static-page/about-us')">
		Contact
	</button>
	<button mat-button class="mobPageLink" (click)="navigateTo('/static-page/about-us')">
		Download
	</button>
	<button class="mobPageLink" mat-button (click)="toggleLoginStatus(isLoggedIn)">
		{{isLoggedIn?'Logout':'Login'}} <mat-icon aria-label="isLoggedIn?:'Logout':'Login/Sign Up'">{{isLoggedIn?'logout':'lock'}}</mat-icon>
	</button>
</div>
