<app-progress-spinner></app-progress-spinner>
<mat-toolbar class="navbar" #navToolbar>
	<mat-toolbar-row class="top-section">
		<div class="full-width" fxLayout fxLayoutAlign="center">
			<h5>{{storeSettings?.headerText}}</h5>
			<div fxHide fxShow.gt-md class="right-section">
				<a class="pageLink" [routerLink]="'/static-page/about-us'">
					About Us
				</a>
				<span>
					<a class="pageLink" [routerLink]="'/order-list'">
						My Orders
					</a>
				</span>
			</div>
		</div>
	</mat-toolbar-row>
	<mat-toolbar-row *ngIf="!shrinkToolbar" class="wide-navbar" fxLayout fxLayoutAlign="space-around center" fxHide.lt-md>
		<a class="brand" routerLink="/">
			<span>
				<!--<img height="110" width="110" src="/assets/images/logo.jpeg"/>-->
				<img height="80" width="80" [src]="storeSettings?.logo?.downloadUrl | safe" />
			</span>
		</a>
		<div fxLayout="column" style="padding-top: 25px; align-items: center;">
			<div class="middle-container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="4px" fxHide.lt-md>
				<div class="full-width">
					<app-search-bar></app-search-bar>
				</div>
				<div>
					<button class="nav-icon" mat-icon-button (click)="toggleLoginStatus(isLoggedIn)">
						<mat-icon aria-label="isLoggedIn?:'Logout':'Login/Sign Up'">{{isLoggedIn?'logout':'lock'}}</mat-icon>
					</button>
				</div>
			</div>
			<div class="full-width" fxHide fxShow.gt-md style="margin-top: -15px;">
				<app-department-bar></app-department-bar>
			</div>
		</div>
		<div>
			<!--<app-cart-floating-button [isAbsolute]="true"></app-cart-floating-button>-->
			<app-pincode-checker *ngIf="storeSettings?.enablePincodeChecker" fxShow.gt-md></app-pincode-checker>
		</div>
		<div fxLayout fxHide.gt-sm>
			<div fxHide fxShow.gt-md fxFlexAlign="center">Welcome {{isLoggedIn?name:'User'}}</div>
			<button mat-icon-button class="toggle-menu" (click)="toggleSidebar()">
				<mat-icon *ngIf="!isSidebarOpen">menu</mat-icon>
				<mat-icon *ngIf="isSidebarOpen">close</mat-icon>
			</button>
		</div>
	</mat-toolbar-row>
	<mat-toolbar-row *ngIf="shrinkToolbar" class="narrow-navbar" fxLayout fxLayoutAlign="space-between center" fxHide.lt-md>
		<a class="brand" routerLink="/">
			<span>
				<img height="30" width="30" [src]="storeSettings?.logo?.downloadUrl | safe" />
			</span>
		</a>
		<div class="middle-container">
			<div class="full-width">
				<app-department-bar></app-department-bar>
			</div>
		</div>
	</mat-toolbar-row>
	<mat-toolbar-row class="narrow-navbar" fxLayout fxLayoutAlign="space-between center" fxHide.gt-sm>
		<a class="brand" routerLink="/">
			<span>
				<img height="30" width="30" [src]="storeSettings?.logo?.downloadUrl | safe" />
			</span>
		</a>
		<div class="mob-welcome-msg">Welcome {{isLoggedIn?name:''}}</div>
	</mat-toolbar-row>
	<mat-toolbar-row class="narrow-navbar" fxLayout fxLayoutAlign="space-between center" fxHide.gt-sm>
		<button mat-icon-button (click)="toggleLeftDrawer()">
			<mat-icon *ngIf="!isLeftBarOpen">menu</mat-icon>
			<mat-icon *ngIf="isLeftBarOpen">close</mat-icon>
		</button>
		<app-search-bar class="full-width"></app-search-bar>
		<!--<button mat-icon-button (click)="toggleSidebar()">
			<mat-icon *ngIf="!isSidebarOpen">person</mat-icon>
			<mat-icon *ngIf="isSidebarOpen">close</mat-icon>
		</button>-->
	</mat-toolbar-row>
</mat-toolbar>
<!--<div [hidden]="isSidebarOpen" [@openClose]="isSidebarOpen?'open':'closed'" class="sidebar" fxLayout="column" fxLayoutGap="16px" fxHide.gt-sm>-->
<!--<app-pincode-checker *ngIf="storeSettings?.enablePincodeChecker"></app-pincode-checker>-->
<!--<a mat-button class="mobPageLink" [routerLink]="'/'">
		Home
	</a>
	<a mat-button class="mobPageLink" [routerLink]="'/shoppin/categories'">
		Categories
	</a>
	<a mat-button class="mobPageLink" [routerLink]="'/static-page/about-us'">
		My Profile
	</a>
	<a mat-button class="mobPageLink" [routerLink]="'/static-page/about-us'">
		My Addresses
	</a>
	<a mat-button class="mobPageLink" [routerLink]="'/order-list'">
		My Orders
	</a>
	<button mat-button (click)="toggleLoginStatus(isLoggedIn)">
		{{isLoggedIn?'Logout':'Login'}} <mat-icon aria-label="isLoggedIn?:'Logout':'Login/Sign Up'">{{isLoggedIn?'logout':'lock'}}</mat-icon>
	</button>
</div>-->

<div [hidden]="isLeftBarOpen" [@openClose]="isLeftBarOpen?'open':'closed'" class="left-drawer" fxLayout="column" fxLayoutGap="16px" fxHide.gt-sm>
	<button mat-button class="mobPageLink" (click)="navigateTo('/')">
		Home
	</button>
	<button mat-button class="mobPageLink" (click)="navigateTo('/categories')">
		Categories
	</button>
	<button mat-button class="mobPageLink" (click)="navigateTo('/static-page/about-us')">
		My Profile
	</button>
	<button mat-button *ngIf="false" class="mobPageLink" (click)="navigateTo('/static-page/about-us')" >
		My Addresses
	</button>
	<button mat-button *ngIf="isLoggedIn" class="mobPageLink" (click)="navigateTo('/order-list')">
		My Orders
	</button>
	<button class="mobPageLink" mat-button (click)="toggleLoginStatus(isLoggedIn)">
		{{isLoggedIn?'Logout':'Login'}} <mat-icon aria-label="isLoggedIn?:'Logout':'Login/Sign Up'">{{isLoggedIn?'logout':'lock'}}</mat-icon>
	</button>
	<!--<app-category-tree [allowEdit]="false"
										 [isExpanded]="false"
										 [showExpansionIcon]="false"
										 [enableNavigation]="true"
										 (categorySelected)="categorySelected($event)"></app-category-tree>-->
</div>
