<div class="main-container">
    <div class="first-container">
      <app-carousel [slides]="slides" [animationType]="'fade'" (outputEvent)="slideActionClicked($event)"></app-carousel>
    </div>
    <div class="second-container" fxLayout="column">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <div class="sub-title">{{"HOME.WHAT-GOODACT"|translate}}</div>
            <p class="desc">{{"HOME.WHAT-GOODACT-ANS"|translate}}</p>    
        </div>
        <div fxLayout="column">
            <div class="sub-title">{{"HOME.WHY-GOODACT"|translate}}</div>

            <div fxLayout="row wrap" fxLayoutAlign="center">
                <mat-card fxLayout="column" class="join-card" *ngFor="let cause of goodActReasons">
                    <mat-card-header>
                        <mat-card-title class="center">{{cause.title | translate}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image [src]="cause.img">
                    <mat-card-content fxFlex="grow">{{cause.content | translate}}</mat-card-content>
                    <button mat-raised-button color="primary" class="full-width" (click)="navigateTo('/login')">{{"JOIN_NOW" | translate}}</button>
                </mat-card>    
            </div>
            
        </div>
    </div>
    <div class="third-container" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="36px">
        <div class="full-width" fxLayout fxLayoutAlign="space-between center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
            <div class="my-title">{{"HOME.READY_RAISE_FUNDS" | translate}}</div>
            <div class="call-to-action-dark">Make It Happen</div>
        </div>
        <div class="full-width" fxLayout fxLayoutAlign="space-between center" fxLayout.lt-md="column">
            <div class="my-title">{{"HOME.FULLFILL_DREAMS" | translate}}</div>
            <div class="call-to-action-dark">{{"JOIN_NOW" | translate}}</div>
        </div>
        <div class="full-width" fxLayout fxLayoutAlign="space-between center" fxLayout.lt-md="column">
            <div class="my-title">{{"HOME.HELP_OTHERS" | translate}}</div>
            <div class="call-to-action-dark">Donate</div>
        </div>
        <!-- <div class="small-title">{{"HOME.TRUST_COUNT" | translate}}</div> -->
    </div>
    <div class="fourth-container">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div class="small-title">{{"HOME.POWER_OF_UNITY" | translate}}</div>
            <div class="my-title">{{"HOME.UNITY_MSG" | translate}}</div>
            <div class="call-to-action-dark">{{"HOME.START_PROJECT" | translate}}</div>    
        </div>
        <div class="dark-overlay"></div>
    </div>
</div>

<!-- <button class="scroll-top-button" mat-fab (click)="scrollToTopFunc($event)">
    <mat-icon>arrow_upward</mat-icon>
</button> -->